@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkOrderFilter
@using Group.Salto.SOM.Web.Extensions

<div class="modal fade" id="EditDatesModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="EditDatesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label asp-localized-key="@WorkOrderFilterConstants.WorkOrderFilterModalDateTitle"></label></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-localized-key="@WorkOrderFilterConstants.WorkOrderFilterStartDate"></label>
                            <input type="text" id="FilterInitialDate" name="FilterInitialDate" class="form-control" autocomplete="off"/>
                            <span class="text-danger field-validation-error" data-valmsg-for="FilterInitialDate" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label asp-localized-key="@WorkOrderFilterConstants.WorkOrderFilterEndDate"></label>
                            <input type="text" id="FilterEndDate" name="FilterEndDate" class="form-control" autocomplete="off" />
                            <span class="text-danger field-validation-error" data-valmsg-for="FilterEndDate" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="EditDatesConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="EditDatesConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>