@using Group.Salto.Common.Constants.WorkOrderFilter
@using Group.Salto.SOM.Web.Models.WorkOrderFilter
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@model IEnumerable<WorkOrderFilterListViewModel>

<div class="list-group">
    <div class="list-group-item list-group-item-action active">
        Vistas Personalizadas
    </div>
    @foreach (WorkOrderFilterListViewModel item in Model)
    {
        <button class="list-group-item list-group-item-action viewlist" id="@item.GetViewListId()" data-id="@item.Id" data-load="@item.Load.ToString().ToLower()" onclick="app.WorkOrderFilter.ViewListClick(this)">
            <i class="nav-icon fa fa-eye mr-3"></i> @item.Name <i id="@item.Id" class="nav-icon fa fa-trash-o mt-2 float-right deleteButton"></i>
        </button>
    }

    <div class="mt-4 text-right">
        <input type="button" class="btn btn-outline-success spinner-loader" id="btncreateview" name="btncreateview" onclick="app.WorkOrderFilter.CreateNewView()" value="@Html.GetLocalizedText(LocalizationsConstants.CreateButtonText)" />
    </div>
</div>