@using Group.Salto.Common.Constants.Technical
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.Technicians

@model TechniciansEditViewModel
<div class="modal fade" id="TechniciansModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="TechniciansForm" name="TechniciansForm" asp-controller="Technicians" asp-action="Technicians">
                    <input id="IsValid" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="TechniciansName" class="form-control" readonly="readonly" />
                    <div class="row">
                        <input type="hidden" asp-for="TechniciansId" class="form-control" readonly="readonly" />
                        <div class="col-12">
                            <div class="form-group">
                                <label><span asp-localized-key="@TechnicalConstants.TechniciansNameText"></span><span class="required">*</span></label>
                                <select asp-for="PeopleId" asp-items="@Model.PeopleListItems" class="form-control" onchange="app.TechnicianDetails.ChangePeople()"></select>
                                <span asp-validation-for="PeopleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label><span asp-localized-key="@TechnicalConstants.TechniciansCodeText"></span></label>
                                <input asp-for="Code" class="form-control" placeholder="@Html.GetLocalizedText(TechnicalConstants.TechniciansCodeText)" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="TechniciansConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="TechniciansConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>