@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants.UserOptions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.SOM.Web.Models.UserOptions
@using Group.Salto.Common.Constants;
@model ResultViewModel<UserOptionsViewModel>

@{
    ViewBag.Title = @Html.GetLocalizedText("UserOptionsDetailsTitle");
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-7">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2 asp-localized-key="UserOptionsDetailsTitle"></h2>
            </div>
            <div class="card-body">
                <form asp-controller="UserOptions" asp-action="Update" method="post" class="form-horizontal">
                    @Html.HiddenFor(m => m.Data.Id, new { Id = "id" })
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            <span asp-localized-key="UserOptionsOldPasswordFormText"></span><span class="required">*</span>
                        </label>
                        
                        <div class="col-md-9">
                            <input type="password" class="form-control" asp-for="Data.OldPassword" placeholder="@Html.GetLocalizedText(UserOptionsConstants.UserOptionsOldPasswordPlaceholder)">
                            <span asp-validation-for="Data.OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            <span asp-localized-key="UserOptionsNewPasswordFormText"></span><span class="required">*</span>
                        </label>                        
                        <div class="col-md-9">
                            <input type="password" class="form-control" asp-for="Data.NewPassword" placeholder="@Html.GetLocalizedText(UserOptionsConstants.UserOptionsNewPasswordPlaceholder)">
                            <span asp-validation-for="Data.NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            <span asp-localized-key="UserOptionsConfirmNewPasswordFormText"></span><span class="required">*</span>
                        </label>                        
                        <div class="col-md-9">
                            <input type="password" class="form-control" asp-for="Data.ConfirmNewPassword" placeholder="@Html.GetLocalizedText(UserOptionsConstants.UserOptionsConfirmNewPasswordPlaceholder)">
                            <span asp-validation-for="Data.ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-localized-key="UserOptionsLanguageFormText" class="col-md-3 col-form-label" for="languages"></label>
                        <div class="col-md-9">
                            <select asp-for="Data.LanguageId" asp-items="@Model.Data?.Languages"
                                    class="form-control input-theme-sm"
                                    placeholder="@Html.GetLocalizedText(UserOptionsConstants.UserOptionsLanguageFormPlaceholder)"></select>
                            <span asp-validation-for="Data.LanguageId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-localized-key="UserOptionsNumberEntriesPerPageFormText" class="col-md-3 col-form-label" for="numberEntriesPerPage"></label>
                        <div class="col-md-9">
                            <select asp-for="Data.NumberEntriesPerPageId" asp-items="@Model.Data?.NumberEntriesPerPage"
                                    class="form-control input-theme-sm"
                                    placeholder="@Html.GetLocalizedText(UserOptionsConstants.UserOptionsNumberEntriesPerPageFormPlaceholder)"></select>
                            <span asp-validation-for="Data.NumberEntriesPerPageId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col-12">
                            <input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>