@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.CollectionTypeWorkOrders
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result;
@using Group.Salto.SOM.Web.Models.CollectionTypeWorkOrders;
@using Group.Salto.Common.Enums
@model ResultViewModel<CollectionTypeWorkOrdersDetailViewModel>
@{
    var title = @Html.GetLocalizedText(CollectionTypeWorkOrdersConstants.CollectionTypeWorkOrdersCreatePageTitle);
    ViewData["Title"] = title;
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}
<div class="row justify-content-center">
    <div class="col-12 col-sm-9">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2><span asp-localized-key="@CollectionTypeWorkOrdersConstants.CollectionTypeWorkOrdersCreatePageTitle"></span></h2>
            </div>
            <div class="card-body">
                <form asp-controller="CollectionTypeWorkOrders" asp-action="Create" method="post" class="form-horizontal">
                    <partial name="_CollectionTypeWorkOrdersForm" model="Model?.Data" />
                </form>
            </div>
        </div>
    </div>
</div>
@*<popup Text="@Html.GetLocalizedText(ClosureCodeConstants.ClosureCodeCannotDeleteClosingCodeMessage)"
    Id="confirmationModal"
    show-cancel-button="false"
    submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>*@
@section scripts {
    <script src="~/js/treeView.js"></script>
    <script src="~/js/Common/validations.js"></script>
    <script src="~/js/CollectionTypeWorkOrders/collectionTypeWorkOrdersDetail.js"></script>
    <script src="~/js/Common/config.js"></script>
    <script src="~/js/Common/authorization.js"></script>
    <script>
        (function($) {
            $(document).ready(function() {
                var childs = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model?.Data?.Childs));

                //function canDelete(item, confirmMethod) {
                //    if (item.Id === 0) {
                //        confirmMethod(item.TemporalIndex);
                //    } else {
                //        showSpinner();
                //        $.ajax({
                //            url: app.config.Urls.closingCodeCanDelete,
                //            type: 'GET',
                //            dataType: 'json',
                //            cache: false,
                //            data: { id: item.Id },
                //            success: function(data) {
                //                hideSpinner();
                //                if (data) {
                //                    confirmMethod(item.TemporalIndex);
                //                } else {
                //                    $("#confirmationModal").modal("toggle");
                //                    $("#confirmationModalConfirmSave").on("click",
                //                        function() {
                //                            $("#confirmationModal").modal("toggle");
                //                            $("#confirmationModalConfirmSave").off("click");
                //                        });
                //                }
                //            }
                //        });
                //    }
                //}

                var options = {
                    tree: {
                        values: childs,
                        searchPlaceHolder: '@Html.GetLocalizedText(LocalizationsConstants.Search)',
                        placeHolderText: '@Html.GetLocalizedText(LocalizationsConstants.Name)',
                        placeHolderDescription: '@Html.GetLocalizedText(LocalizationsConstants.Description)',
                        validationTextMessage: '@Html.GetLocalizedText(LocalizationsConstants.RequiredMessage)',
                        //canDeleteMethod: canDelete,
                        stringAddNew: '@Html.GetLocalizedText(LocalizationsConstants.Add)',
                        validationDescriptionMessage: '@Html.GetLocalizedText(LocalizationsConstants.RequiredMessage)',
                        additionalProperties: [{
                            PropertyName: 'Serie',
                            Type: 'text',
                            IsMandatory: true,
                            MessageValidation: '@Html.GetLocalizedText(LocalizationsConstants.RequiredMessage)',
                            PlaceHolder: 'Serie'
                        }]
                    }
                }
                app.collectionTypeWorkOrders.detail.Init(options);

                var saveCreate = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.WOTypesCollection, ActionEnum.Create).ToString().ToLower();
                app.common.authorization.disable("btnSaveCollectionTypeWorkOrders", saveCreate);
            });
        })(jQuery);
    </script>
}