@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.CollectionTypeWorkOrders
@using Group.Salto.Controls.Table
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.CollectionTypeWorkOrders
@using Group.Salto.SOM.Web.Models.Result
@model ResultViewModel<CollectionTypeWorkOrdersListViewModel>

@{
    var title = Html.GetLocalizedText(CollectionTypeWorkOrdersConstants.CollectionTypeWorkOrdersIndexPageTitle);
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">@title</h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.CollectionTypesWorkOrders, au => au.Id, Model.Data.Filters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Description);
    table.SetSortingColumns(m => m.Name, m => m.Description);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_CollectionTypeWorkOrdersFilter" model="@Model.Data.Filters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.CollectionTypesWorkOrders.Any())
            {
                <div class="table-responsive workstation-table" id="miClase">
                    @table.Render("CollectionTypeWorkOrdersGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.Filters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Text="@Html.GetLocalizedText(CollectionTypeWorkOrdersConstants.CollectionTypeWorkOrderDeleteMessage)" Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>

<popup Text="@Html.GetLocalizedText(CollectionTypeWorkOrdersConstants.CollectionTypeWorkOrderCannotDeleteCollectionCodeMessage)"
       Id="confirmationModalCannotDelete"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>
@section scripts {
    <script src="~/js/Common/config.js"></script>
    <script src="~/js/CollectionTypeWorkOrders/collectionTypeWorkOrders.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                app.collectionTypeWorkOrders.Init();
                MultiTableScript("CollectionTypeWorkOrdersGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.Filters));
                pager.PagerSelector.Init({ PageData: page });
                $(".deleteButton").on("click",
                    function (evt) {
                        evt.preventDefault();
                        showSpinner();
                        var id = $(this).attr('id');

                        $.ajax({
                            url: app.config.Urls.CollectionTypeWOCanDelete,
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: { id: id },
                            success: function (data) {
                                hideSpinner();
                                if (!data) {
                                    $("#confirmationModalCannotDelete").modal("toggle");
                                    $("#confirmationModalCannotDeleteConfirmSave").on("click", function () {
                                        $("#confirmationModalCannotDelete").modal("toggle");
                                        $("#confirmationModalCannotDeleteConfirmSave").off("click");
                                    });
                                } else {
                                    deleteElement(id, "#confirmationModal", "#confirmationModalConfirmSave");
                                }
                            },
                        });
                    });
                function deleteElement(id, modalId, saveButtonId)
                {
                    $(modalId).modal("toggle");
                    $(saveButtonId).on("click",
                        function () {
                            $.ajax({
                                url: '@Url.Action("Delete", "CollectionTypeWorkOrders")',
                                type: 'DELETE',
                                dataType: 'json',
                                cache: false,
                                data: { id: id },
                                success: function () {
                                    $("#btnApplyFilter").trigger("click");
                                },
                            });
                            $(modalId).modal("toggle");
                        });
                }

                $("#confirmationModalConfirmCancel").on("click", function ()
                {
                    $("#confirmationModal").modal("toggle");
                    $("#confirmationModalConfirmSave").off("click");
                });

            });
        })(jQuery);
    </script>
}