@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Tools
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Tools

@model ToolsDetailsViewModel

@Html.Hidden("Id")
<div class="form-group row">
    <label class="col-md-3 col-form-label" asp-for="Name"><span asp-localized-key="@ToolsConstants.ToolsGridTheadName"></span><span class="required">*</span></label>
    <div class="col-md-9">
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@ToolsConstants.ToolsGridTheadDescription" class="col-md-3 col-form-label" asp-for="Description">Description</label>
    <div class="col-md-9">
        <input asp-for="Description" rows="9" class="form-control"></input>
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@ToolsConstants.ToolsGridTheadObservation" class="col-md-3 col-form-label" asp-for="Observation">Observation</label>
    <div class="col-md-9">
        <input asp-for="Observation" rows="9" class="form-control"></input>
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@ToolsConstants.ToolsVehicleTitle" class="col-md-3 col-form-label" asp-for="VehicleId">Driver</label>
    <div class="col-md-9">
        <select asp-for="VehicleId" asp-items="@Model.Vehicles" rows="9" class="form-control"></select>
    </div>
</div>
<div class="form-group">
    <h4 class="card-title" asp-localized-key="@ToolsConstants.ToolsTypeTitle"></h4>
    <div id="container">
        <div id="toolstypeContainer"></div>
    </div>
</div>

<div class="form-group row">
    <div class="col-12 text-right">
        <hr />
        <button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Tools")'">
            <span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
        <input id="btnSaveTools" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>