@using Group.Salto.Common.Constants.MailTemplate
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Models.MailTemplate
@using Group.Salto.Controls.Table
@model MailTemplateViewModel

@Html.Hidden("Id")

<div class="form-group row">
    <label class="col-md-3 col-form-label" asp-for="Name"><span asp-localized-key="@MailTemplateConstant.MailTemplateName"></span><span class="required">*</span></label>
    <div class="col-md-9">
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<label for="Subject"><span asp-localized-key="@MailTemplateConstant.MailTemplateSubject"></span> </label>
<textarea name="Subject" id="Subject"> @Html.Raw(@Model.Subject)</textarea>
<label for="Content"><span asp-localized-key="@MailTemplateConstant.MailTemplateContent"></span></label>
<textarea name="Content" id="Content"> @Html.Raw(@Model.Content)</textarea>

<div class="form-group row">
<div class="col-12 text-right">
<hr />

<button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "MailTemplate")'">
<span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
<input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />

    </div>
</div>