@using Group.Salto.Common.Constants.MailTemplate
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Models.MailTemplate
@using Group.Salto.Controls.Table
@model ResultViewModel<MailTemplateListViewModel>
@{
    var title = Html.GetLocalizedText(MailTemplateConstant.MailTemplateTitle);
    ViewData["Title"] = title;
}

<h1 class="page-title">@title</h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.MailTemplateList, au => au.Id, Model.Data.Filters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name);
    table.SetSortingColumns(m => m.Name);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(r => r.Id,

    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}
<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_MailTemplateFilter" model="@Model.Data.Filters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.MailTemplateList.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("MailTemplateGrid")
                </div>
                <partial name="_Pager" for="@Model.Data.Filters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Id="ErrorModal"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)">
</popup>

<popup Text="@Html.GetLocalizedText(MailTemplateConstant.MailTemplateDeleteTitle)" Id="confirmationModalMailTemplate"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>

@section scripts {
    <script src="~/js/MailTemplate/MailTemplatesList.js"></script>
    <script src="~/js/Common/config.js"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                var urlDeleteMailTemplate = "@(Url.Action("Delete", "MailTemplate"))";
                app.MailTemplate.Init(urlDeleteMailTemplate);
                MultiTableScript("MailTemplateGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.Filters));
                pager.PagerSelector.Init({ PageData: page });
            });

        })(jQuery);
    </script>
}