@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WarehouseMovements
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.WarehouseMovements

@model WarehouseMovementsFiltersViewModel

<div>
    <partial model="@Model.FilterHeader" name="_FilterHeader" />
    <div class="collapse in" id="filterWarehouseMovements">
        <form asp-action="Filter" asp-controller="WarehouseMovements" method="post" id="filter-form" class="form-control">
            <partial model="Model" name="_PagerHiddens" />
            <partial model="Model" name="_MultiTableHiddens" />
            <div class="row">
                <input type="hidden" asp-for="WarehouseId" />
                <div class="col-lg-4">
                    <label class="col-form-label">
                        <span asp-localized-key="@WarehouseMovementsConstants.WarehousesMovementsFilterItems"></span>
                    </label>
                    <div id="itemsFilterContainer"></div>
                </div>
                <div class="col-lg-4">
                    <label class="col-form-label">
                        <span asp-localized-key="@WarehouseMovementsConstants.WarehousesMovementsFilterStartDate"></span>
                    </label>
                    <input asp-for="StartDate" type="text" value="" class="form-control">
                </div>
                <div class="col-lg-4">
                    <label class="col-form-label">
                        <span asp-localized-key="@WarehouseMovementsConstants.WarehousesMovementsFilterEndDate"></span>
                    </label>
                    <input asp-for="EndDate" type="text" value="" class="form-control">
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <br>
                        <button type="button" id="btnClear" class="btn btn-outline-danger" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                        <button id="btnApplyFilter" class="btn btn-primary" name="btnApplyFilter" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>