@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.CollectionsExtraField
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.CollectionsExtraField
@using Group.Salto.Controls.Table
@using Group.Salto.ServiceLibrary.Helpers

@model CollectionsExtraFieldDetailViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="card border-primary">
            <div class="card-body">
                <div class="form-group">
                    <label><span asp-localized-key="@LocalizationsConstants.Name"></span><span class="required">*</span></label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><span asp-localized-key="@LocalizationsConstants.Description"></span></label>
                    <textarea class="form-control" asp-for="Description" placeholder="@Html.GetLocalizedText(LocalizationsConstants.Description)"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-2">
        <h4 class="card-title" asp-localized-key="@CollectionsExtraFieldConstants.ExtraFieldTitleList"></h4>
        <div class="input-group">
            <select id="newExtraField" name="newExtraField" class="custom-select" aria-label="Extra Field Selector">
                <option value="1">@Html.GetLocalizedText(CollectionsExtraFieldConstants.CollectionsExtraFieldNewExtraField)</option>
                <option value="2">@Html.GetLocalizedText(CollectionsExtraFieldConstants.CollectionsExtraFieldSystem)</option>
                <option value="3">@Html.GetLocalizedText(CollectionsExtraFieldConstants.CollectionsExtraFieldRegular)</option>
            </select>
            <div id="createExtraFieldsContainer" class="input-group-append"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="container">
            <div id="ExtraFieldsContainer"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText" type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "CollectionsExtraField")'"></button>
        <input id="btnSaveCollectionsExtraField" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>