@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.RolTenant
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.RolTenant

@model RolTenantFilterViewModel
<div>
    <partial model="@Model.FilterHeader" name="_FilterHeader" />
    <div class="collapse in" id="filterRolTenant">
        <form asp-action="Filter" asp-controller="RolTenant" method="post" id="filter-form" class="form-control">
            <partial model="Model" name="_PagerHiddens" />
            <partial model="Model" name="_MultiTableHiddens" />
            <div class="row">
                <div class="col-lg-4">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@RolTenantConstants.RolTenantFilterName"></span>
                    </label>
                    <input asp-for="Name" id="RolTenantFilterName"
                           class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(RolTenantConstants.RolTenantFilterName)" />
                </div>
                <div class="col-lg-4">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@RolTenantConstants.RolTenantFilterDescription"></span>
                    </label>
                    <input asp-for="Description" id="RolTenantFilterDescription"
                           class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(RolTenantConstants.RolTenantFilterDescription)" />
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <br>
                        <button type="button" class="btn btn-outline-danger" id="btnClear" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                        <button id="btnApplyFilter" name="btnApplyFilter" class="btn btn-primary" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>