@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Actions
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Actions
@model ActionsFilterViewModel
<div>
        <partial model="@Model.FilterHeader" name="_FilterHeader" />
        <div class="collapse in" id="filterSection">
            <form asp-action="Filter" asp-controller="Actions" method="post" id="filter-form" class="form-control">
                <partial model="Model" name="_PagerHiddens"/>
                <partial model="Model" name="_MultiTableHiddens"/>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="col-sm-4 col-form-label">
                            <span asp-localized-key="@ActionsConstants.ActionsDetailsName"></span>
                        </label>
                        <input asp-for="Name" id="ActionsFilterName"
                               class="form-control input-theme-sm"
                               placeholder="@Html.GetLocalizedText(ActionsConstants.ActionsDetailsName)"/>
                    </div>
                    <div class="col-lg-4">
                        <label class="col-sm-4 col-form-label">
                            <span asp-localized-key="@ActionsConstants.ActionsDetailsDescription"></span>
                        </label>
                        <input asp-for="Description" id="ActionsFilterDescription"
                               class="form-control input-theme-sm"
                               placeholder="@Html.GetLocalizedText(ActionsConstants.ActionsDetailsDescription)"/>
                    </div>
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <br>
                            <button type="button" class="btn btn-outline-danger" id="btnClear" asp-localized-key="@LocalizationsConstants.ClearFilter"/>
                            <button type="submit" id="btnApplyFilter" name="btnApplyFilter" class="btn btn-primary" asp-localized-key="@LocalizationsConstants.ApplyFilter"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>