@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Actions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Controls.Table
@model ResultViewModel<ActionsViewModel>
@{
    var title = @Html.GetLocalizedText("ActionsPageTitle");
}
<h1 class="page-title">@title</h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.Actions, au => au.Id, Model.Data.ActionsFilters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Description, m => m.UpdateDate);
    table.SetSortingColumns(m => m.Name, m => m.Name, m => m.Description, m => m.UpdateDate);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    var svcfieldUpdate = table.AddStaticColumn("Update");
    svcfieldUpdate.IsSortable = false;
    svcfieldUpdate.Link.HasLink = true;
    svcfieldUpdate.Text = "";
    svcfieldUpdate.Link.Controller = "Actions";
    svcfieldUpdate.Link.Action = "Details";
    svcfieldUpdate.Link.SetLinkTemplate<string>(@<div class="text-center"><span class="fa fa-pencil fa-lg"></span></div>, string.Empty);
    svcfieldUpdate.Link.ParameterFunc = item => new { id = item.Id };
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_ActionsFilter" model="@Model.Data.ActionsFilters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.Actions.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("ActionsGrid")
                </div>
                <partial name="_Pager" for="@Model.Data.ActionsFilters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Actions/Action.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                app.action.Init();
                MultiTableScript("ActionsGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.ActionsFilters));
                pager.PagerSelector.Init({ PageData: page });
            });
        })(jQuery);
    </script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>