@using Group.Salto.Common.Constants.Model
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Zones
@using Group.Salto.Common.Constants.Project
@using Group.Salto.SOM.Web.Models.ZoneProjectPostalCode

@model ZoneProjectPostalCodeViewModel

<div class="modal fade" id="PostalCodeModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <form id="PostalCodeForm" name="PostalCodeForm" asp-controller="Zones" asp-action="PostalsCode">
                    <input id="IsValid" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="PostalCodeId" class="form-control" readonly="readonly" />
                    <input type="hidden" asp-for="ZoneProjectId" class="form-control" readonly="readonly" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-localized-key="@ZonesConstants.ZonesPostalCodeName" class="col-md-3 col-form-label"></label>
                                <input type="text" asp-for="PostalCode" value="@Model.PostalCode" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ZonesConstants.ZonesPostalCodeText)" />
                                <label id="MessageCode" hidden asp-localized-key="" class="col-md-3 col-form-label">Codi repetit</label>
                            </div>
                        </div>
                    </div>
                    <script src="~/js/Zones/ZonesPostalCodesModal.js"></script>
                </form>
            </div>
            <div class="modal-footer">
                <button id="PostalCodeConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="PostalCodeConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
