@using Group.Salto.Common.Constants.Zones
@using Group.Salto.Common.Constants.Project
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.Zones

@model ZoneViewModel
<div class="modal fade" id="ZonesModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="ProjectForm" name="ProjectForm" asp-controller="Zones" asp-action="Project">
                    <input id="IsValid" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="Id" class="form-control" readonly="readonly" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label><span asp-localized-key="@ZonesConstants.ZonesGridTheadName"></span><span class="required">*</span></label>
                                <input asp-for="Name" class="form-control" placeholder="@Html.GetLocalizedText(ZonesConstants.ZonesGridTheadName)" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="ZonesConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="ZonesConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>