@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Zones
@using Group.Salto.Common.Constants.Project
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Zones

@model ZoneViewModel

@if (Model != null && Model.Id != 0)
{
    <input type="hidden" class="form-control" asp-for="Id" readonly />
}
<div class="form-group row">
    <label class="col-sm-3 col-form-label" asp-for="Name"><span asp-localized-key="@ZonesConstants.ZonesGridTheadName"></span><span class="required">*</span></label>
    <div class="col-12 col-sm-6">
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="row">
            <div class="col-12">
                <h4 class="card-title" asp-localized-key="@ZonesConstants.ZonesProjectsZonesTitle"></h4>
                <div id="container">
                    <div style="overflow-y:scroll" id="ProjectContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="row">
            <div class="col-12">
                <h4 id="titlepostalcode" class="card-title" asp-localized-key="@ZonesConstants.ZonesPostalCodeTitle"></h4>
                <div id="container">
                    <div style="overflow-y:scroll" id="PostalCodesContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-12 text-right">
        <hr />
        <button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Zones")'">
            <span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
        <input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>