@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.SalesRate
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.SalesRate

@model SalesRateViewModel

    <input type="hidden" asp-for="Id" />

    <div class="form-group row">
        <label class="col-md-3 col-form-label" asp-for="Name"><span asp-localized-key="@SalesRateConstants.SalesRateGridTheadName"></span><span class="required">*</span></label>
        <div class="col-md-9">
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-localized-key="@SalesRateConstants.SalesRateGridTheadDescription" class="col-md-3 col-form-label" asp-for="Description"></label>
        <div class="col-md-9">
            <input asp-for="Description" rows="9" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-localized-key="@SalesRateConstants.SalesRateGridTheadErpReference" class="col-md-3 col-form-label" asp-for="ReferenceERP"></label>
        <div class="col-md-9">
            <input asp-for="ReferenceERP" rows="9" class="form-control">
        </div>
    </div>

    <div class="form-group row text-right">
        <div class="col-12">
            <button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "SalesRate")'">
                <span asp-localized-key="ActionsDetailsBtnCancel"></span>
            </button>
            <input id="btnSaveSalesRate" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
        </div>
    </div>