@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.FinalClients
@using Group.Salto.SOM.Web.Models
@using Group.Salto.SOM.Web.Models.FinalClients
@model FinalClientsDetailViewModel

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12 col-sm-6">
        <div class="card border-primary">
            <div class="card-body">
                @if (Model != null && Model.Id != 0)
                {
                    <input type="hidden" class="form-control" asp-for="Id" readonly />
                }

                <div class="form-group">
                    <label>
                        <span asp-localized-key="@FinalClientsConstants.FinalClientsName"></span>&nbsp;<span class="required">*</span>
                    </label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>
                        <span asp-localized-key="@FinalClientsConstants.FinalClientsCode"></span>&nbsp;<span class="required">*</span>
                    </label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label>
                        <span asp-localized-key="@FinalClientsConstants.FinalClientsOriginForm"></span>&nbsp;<span class="required">*</span>
                    </label>
                    <select asp-for="SelectedProcedenciaId" asp-items="@Model.Origins" class="form-control"><option value="0">-</option></select>
                    <span asp-validation-for="SelectedProcedenciaId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>
                        <span asp-localized-key="@FinalClientsConstants.FinalClientsNif"></span>&nbsp;<span class="required">*</span>
                    </label>
                    <input asp-for="Nif" class="form-control" />
                    <span asp-validation-for="Nif" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 pl-0">
                        <span asp-localized-key="@FinalClientsConstants.FinalClientsStatus"></span>
                    </label>
                    <label class="switch switch-label switch-pill switch-primary">
                        <input asp-for="Status" type="checkbox" class="switch-input" id="UnListedCheckState">
                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>
                        <span asp-localized-key="@FinalClientsConstants.FinalClientsDescription"></span>
                    </label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">

        <div class="form-group row">
            <label>
                <span asp-localized-key="@FinalClientsConstants.FinalClientsComercialForm"></span>&nbsp;<span class="required">*</span>
            </label>
            <select asp-for="SelectedComercialId" asp-items="@Model.ComercialPeople" class="form-control"><option value="0">-</option></select>
            <span asp-validation-for="SelectedComercialId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>
                <span asp-localized-key="@FinalClientsConstants.FinalClientsPhone1"></span>
            </label>
            <input asp-for="Phone1" class="form-control" />
            <span asp-validation-for="Phone1" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>
                <span asp-localized-key="@FinalClientsConstants.FinalClientsPhone2"></span>
            </label>
            <input asp-for="Phone2" class="form-control" />
            <span asp-validation-for="Phone2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>
                <span asp-localized-key="@FinalClientsConstants.FinalClientsPhone3"></span>
            </label>
            <input asp-for="Phone3" class="form-control" />
            <span asp-validation-for="Phone3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>
                <span asp-localized-key="@FinalClientsConstants.FinalClientsFax"></span>
            </label>
            <input asp-for="Fax" class="form-control" />
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>
                <span asp-localized-key="@FinalClientsConstants.FinalClientsObservations"></span>
            </label>
            <textarea asp-for="Observations" class="form-control"></textarea>
            <span asp-validation-for="Observations" class="text-danger"></span>
        </div>
    </div>
</div>
