@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.FinalClients
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.FinalClients
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Common.Enums
@model ResultViewModel<FinalClientsEditViewModel>

@{
    var title = @Html.GetLocalizedText(FinalClientsConstants.FinalClientsCreatePageTitle);
    ViewData["Title"] = title;
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<div class="content">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9">
            <div class="card card-accent-warning">
                <div class="card-header">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="FinalClients" asp-action="Create" method="post" class="form-horizontal">
                        <partial name="_FinalClientsGenericTab" model="Model?.Data" />
                        <div class="form-group row">
                            <div class="col-12 text-right">
                                <input type="button" onclick="location.href='@Url.Action("Index", "FinalClients")'" value="@Html.GetLocalizedText(LocalizationsConstants.CancelText)" class="btn btn-outline-danger" />
                                <input type="submit" class="btn btn-success spinner-loader" id="btnSendMessage" name="sendMessage" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Common/ui.js"></script>
    <script src="~/js/Common/authorization.js"></script>

    <script>
        (function($) {
            $(document).ready(function() {
                var saveCreate = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.ClientSites, ActionEnum.Create).ToString().ToLower();
                app.common.authorization.disable("btnSendMessage", saveCreate);
            });
        })(jQuery);
    </script>
}