@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.SiteUser
@using Group.Salto.Common.Constants.SiteUser

@model SiteUserFilterViewModel

<div>
    <partial model="@Model.FilterHeader" name="_FilterHeader" />
    <div class="collapse in" id="filterSiteUser">
        <form asp-action="FilterWeb" asp-controller="SiteUser" method="post" id="filter-form" class="form-control">
            <partial model="Model" name="_PagerHiddens" />
            <partial model="Model" name="_MultiTableHiddens" />
            <input asp-for="SitesId" type="hidden" />
            <div class="row">
                <div class="col-lg-4">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@SiteUserConstants.SiteUserName"></span>
                    </label>
                    <input asp-for="Name" id="siteUserFilterName"
                           class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(SiteUserConstants.SiteUserName)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <br>
                        <button type="button" id="btnClear" class="btn btn-outline-danger" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                        <button id="btnApplyFilter" class="btn btn-primary" name="btnApplyFilter" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>