@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.SiteUser
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.SiteUser
@using Group.Salto.Controls.Table
@using Group.Salto.ServiceLibrary.Helpers

@model SiteUserDetailViewModel

<div class="row">
    <div class="col-12">

        <div class="form-group row">
            <input asp-for="LocationId" type="hidden" />
            <input asp-for="IdUser" type="hidden" />
            <label class="col-12 col-sm-3 col-form-label"><span asp-localized-key="@LocalizationsConstants.Name"></span><span class="required">*</span></label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" asp-for="Name" placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label"><span asp-localized-key="@SiteUserConstants.SiteUserFirstSurname"></span></label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" asp-for="FirstSurname" placeholder="@Html.GetLocalizedText(SiteUserConstants.SiteUserFirstSurname)" />
                <span asp-validation-for="FirstSurname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label"><span asp-localized-key="@SiteUserConstants.SiteUserSecondSurname"></span></label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" asp-for="SecondSurname" placeholder="@Html.GetLocalizedText(SiteUserConstants.SiteUserSecondSurname)" />
                <span asp-validation-for="SecondSurname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label"><span asp-localized-key="@SiteUserConstants.SiteUserEmail"></span></label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" asp-for="Email" placeholder="@Html.GetLocalizedText(SiteUserConstants.SiteUserEmail)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label"><span asp-localized-key="@SiteUserConstants.SiteUserTelephone"></span></label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" asp-for="Telephone" placeholder="@Html.GetLocalizedText(SiteUserConstants.SiteUserTelephone)" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label"><span asp-localized-key="@SiteUserConstants.SiteUserPosition"></span></label>
            <div class="col-12 col-sm-9">
                <input type="text" class="form-control" asp-for="Position" placeholder="@Html.GetLocalizedText(SiteUserConstants.SiteUserPosition)" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText" type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "SiteUser", new { id = @Model.LocationId})'"></button>
        <input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>