@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.PointRate
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Controls.Table
@using System;
@using Group.Salto.Common.Constants.PointRate
@using Group.Salto.Common.Constants

@model ResultViewModel<PointsRateViewModel>

@{
    ViewData["Title"] = @Html.GetLocalizedText("PointRateIndexTitle");
    var title = @Html.GetLocalizedText("PointRateIndexTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-title">@title</h1>

@{
    var table = Html.GetMultiSelectTableFor(Model.Data.PointRate, au => au.Id.Value, Model.Data.PointRateFilters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.ErpReference, m => m.Description);
    table.SetSortingColumns(m => m.Name);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_PointRateFilter" model="@Model.Data.PointRateFilters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.PointRate.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("PointRateGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.PointRateFilters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Text=""
       Id="confirmationModalCannotDelete"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>

<popup Text="@Html.GetLocalizedText(PointRateConstants.PointRateDeleteMessage)" Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>

@section scripts {
    <script src="~/js/Common/config.js"></script>
    <script src="~/js/Common/constants.js"></script>
    <script src="~/js/PointRate/PointRate.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
               var urlDeletePointRate = "@(Url.Action("Delete", "PointRate"))";
                app.pointrate.Init(urlDeletePointRate);
                MultiTableScript("PointRateGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.PointRateFilters));

                pager.PagerSelector.Init({ PageData: page });

                $("#confirmationModalConfirmCancel").on("click", function () {
                    $("#confirmationModal").removeClass("in show");
                    $("#confirmationModal").css("display", "none");
                    $("#confirmationModalConfirmSave").off("click");
                });
            });
        })(jQuery);

    </script>
}