@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Company
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Company;
@model CompanyDetailViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card border-info">
            <div class="card-body">
                @if (Model != null && Model.Id != 0)
                {
                    <div class="form-group row">
                        <label asp-localized-key="@CompanyConstants.CompanyDetailIdentifierText" class="col-md-5 col-form-label"></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" asp-for="Id" readonly />
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label class="col-md-5 col-form-label">
                        <span asp-localized-key="@CompanyConstants.CompanyDetailNameText"></span><span class="required">*</span>
                    </label>
                    <div class="col-md-7">
                        <input type="text" class="form-control dirtyData" asp-for="Name"
                               placeholder="@Html.GetLocalizedText(CompanyConstants.CompanyNamePlaceholder)" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-md-5 col-form-label" asp-localized-key="@CompanyConstants.CompanyDetailCostText"></span>
                    <div class="col-md-7">
                        <input type="number" step="0.01" asp-for="CostKm" rows="9" class="form-control dirtyData"
                               placeholder="@Html.GetLocalizedText(CompanyConstants.CompanyCostPlaceholder)" />
                        <span asp-validation-for="CostKm" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        @if (Model != null && Model.Id != 0)
        {
            <h4 class="card-title" asp-localized-key="@CompanyConstants.WorkCentersTitle"></h4>
            <button id="btnCreateWorkCenter" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                <span asp-localized-key="@LocalizationsConstants.CreateButtonText"></span>
            </button>
            <div id="container">
                <div id="workCentersCombo"></div>
            </div>
        }
        </div>

    <div class="col-12 col-sm-6">
        <h4 class="card-title" asp-localized-key="@CompanyConstants.DepartmentsTitle"></h4>
        <div id="container">
            <div id="departmentList"></div>
        </div>
    </div>

</div>

<div class="form-group row text-right">
    <div class="col-12">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText" type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Company")'" />
        <input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" style="display: none;"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p asp-localized-key="@CompanyConstants.ConfirmDeleteDepartmentMessage"></p>
            </div>
            <div class="modal-footer">
                <button id="confirmCancel" class="btn btn-outline-danger" type="button"
                        data-dismiss="modal" asp-localized-key="@LocalizationsConstants.Close">
                    Close
                </button>
                <button id="confirmSave" class="btn btn-primary" type="button"
                        asp-localized-key="@LocalizationsConstants.Confirm"></button>
            </div>
        </div>
    </div>
</div>
