@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.ExtraFields
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.ExtraFields;

@model ExtraFieldsDetailViewModel

<div class="row">
    @Html.HiddenFor(m => m.ExtraFieldsId)
    <div class="col-12 col-sm-7">
        <div class="card border-info">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@LocalizationsConstants.Name"></span><span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="ExtraFieldsName"
                               placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                        <span asp-validation-for="ExtraFieldsName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@LocalizationsConstants.Description"></span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="ExtraFieldsDescription"
                               placeholder="@Html.GetLocalizedText(LocalizationsConstants.Description)" />
                        <span asp-validation-for="ExtraFieldsDescription" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@ExtraFieldsConstants.ExtraFieldsTypeText"></span>
                    </label>
                    <div class="col-sm-8">
                        <select id="extraFieldsTypes" asp-for="TypeId" asp-items="@Model.ExtraFieldsTypes" class="form-control"></select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                </div>
                <div id="isMandatoryDiv" class="form-group d-none row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@ExtraFieldsConstants.IsMandatoryText"></span>
                    </label>
                    <div class="col-sm-4">
                        <label class="switch switch-label switch-pill switch-primary">
                            <input asp-for="IsMandatory" type="checkbox" class="switch-input">
                            <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
                        </label>
                    </div>
                </div>
                <div id="multipleChoiceDiv" class="form-group d-none row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@ExtraFieldsConstants.MultipleChoiceText"></span>
                    </label>
                    <div class="col-sm-4">
                        <label class="switch switch-label switch-pill switch-primary">
                            <input asp-for="MultipleChoice" type="checkbox" class="switch-input">
                            <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
                        </label>
                    </div>
                </div>
                <div id="delSystemDiv" class="form-group d-none row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@ExtraFieldsConstants.DelSystemText"></span>
                    </label>
                    <div class="col-sm-4">
                        <label class="switch switch-label switch-pill switch-primary">
                            <input asp-for="DelSystem" type="checkbox" class="switch-input">
                            <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
                        </label>
                    </div>
                </div>
                <div id="erpSystemDiv" class="form-group d-none row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@ExtraFieldsConstants.ExtraFieldsErpSystemInstanceQueryName"></span>
                    </label>
                    <div class="col-sm-8">
                        <select asp-for="ErpSystemInstanceQueryId" asp-items="@Model.ErpSystemInstanceQueryListItems" class="form-control"></select>
                        <span asp-validation-for="ErpSystemInstanceQueryId" class="text-danger"></span>
                    </div>
                </div>
                <div id="allowedStringValuesDiv" class="form-group d-none row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@ExtraFieldsConstants.ExtraFieldsAllowedStringValues"></span><span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="AllowedStringValues"
                               placeholder="@Html.GetLocalizedText(ExtraFieldsConstants.ExtraFieldsAllowedStringValues)" />
                        <span asp-validation-for="AllowedStringValues" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <h4 class="card-title" asp-localized-key="@LocalizationsConstants.Name"></h4>
            <div id="containerText">
                <div id="nameTranslationsContainer"></div>
                <span asp-validation-for="TextTranslations" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <h4 class="card-title" asp-localized-key="@LocalizationsConstants.Description"></h4>
            <div id="containerDescription">
                <div id="descriptionTranslationsContainer"></div>
                <span asp-validation-for="DescriptionTranslations" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText"
                type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "ExtraFields")'"></button>
        <input id="btnSaveExtraFields" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>