@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@model AssetsDetailViewModel

<div id="asset-container">
    <div class="assets__data">
        <div id="serialNumber" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsSerialNumber"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.SerialNumber</p>
            </div>
        </div>

        <div id="stockNumber" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsInventoryNumber"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.StockNumber</p>
            </div>
        </div>

        <div id="assetNumber" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsAssetsNumber"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.AssetNumber</p>
            </div>
        </div>

        <div id="status" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsStatus"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.Status</p>
            </div>
        </div>

        <div id="brand" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsBrand"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.Brand</p>
            </div>
        </div>

        <div id="model" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsModel"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.Model</p>
            </div>
        </div>

    </div>

    <div class="assets__date bg-light">
        <div id="maintenance" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsMaintenance"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.Maintenance</p>
            </div>
        </div>

        <div id="maintenanceStartDate" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsMaintenanceStartDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.MaintenanceStartDate</p>
            </div>
        </div>

        <div id="maintenanceEndDate" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsMaintenanceEndDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.MaintenanceEndDate</p>
            </div>
        </div>

        <div id="standardWarranty" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsStandardWarranty"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.StandardWarranty</p>
            </div>
        </div>

        <div id="standardWarrantyStartDate" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsStandardWarrantyStartDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.StandardWarrantyStartDate</p>
            </div>
        </div>

        <div id="standardWarrantyEndDate" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsStandardWarrantyEndDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.StandardWarrantyEndDate</p>
            </div>
        </div>

        <div id="manufacturerWarranty" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsManufacturerWarranty"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.ManufacturerWarranty</p>
            </div>
        </div>

        <div id="manufacturerWarrantyStartDate" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsManufacturerWarrantyStartDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.ManufacturerWarrantyStartDate</p>
            </div>
        </div>

        <div id="manufacturerWarrantyEndDate" class="som-panel">
            <div class="som-panel-title">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderAssetsManufacturerWarrantyEndDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@Model.ManufacturerWarrantyEndDate</p>
            </div>
        </div>

    </div>
</div>