@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.ServiceLibrary.Common.Mobility.Dto.Service
@model WorkOrderServiceViewModel

@foreach (var service in Model.WOService)
{
    var theadWoParent = service.IsFather ? "thead-som" : string.Empty;
    var titleWoParent = service.IsFather ? "som-section--title" : string.Empty;
    var borderWoParent = service.IsFather ? "som-border" : string.Empty;

    <div id="form-container" class="col-12 @borderWoParent">
        <div id="WorkOrderFormNum" class="som-panel">
            <div class="som-panel-title @titleWoParent">
                @WorkOrderConstants.WorkOrderFormNum
            </div>
            <div class="som-panel-text">
                <p></p>
            </div>
        </div>
        <div id="idService" class="som-panel">
            <div class="som-panel-title @titleWoParent">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderFormId"></span>
            </div>
            <div class="som-panel-text">
                <p>@service.Id</p>
            </div>
        </div>
        <div id="creationDate" class="som-panel">
            <div class="som-panel-title @titleWoParent">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderFormCreationDate"></span>
            </div>
            <div class="som-panel-text">
                <p>@service.CreationDate</p>
            </div>
        </div>
        <div id="statusServices" class="som-panel">
            <div class="som-panel-title @titleWoParent">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderFormStatus"></span>
            </div>
            <div class="som-panel-text">
                <p>@service.PrefinedService</p>
                <span class="label round @service.FormStateClass(service.Status)">@Html.GetLocalizedText(service.Status)</span>
                @if (!string.IsNullOrEmpty(service.DeliveryNote))
                {
                    <span class="label round">@service.DeliveryNote</span>
                }
            </div>
        </div>
        <div id="technician" class="som-panel">
            <div class="som-panel-title @titleWoParent">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderFormTechnician"></span>
            </div>
            <div class="som-panel-text">
                <p>@service.TechnicianName @service.TechnicianSurname</p>
            </div>
        </div>
        <div id="observation" class="som-panel">
            <div class="som-panel-title @titleWoParent">
                <span asp-localized-key="@WorkOrderConstants.WorkOrderFormObservations"></span>
            </div>
            <div class="som-panel-text">
                <p>@service.Observations</p>
            </div>
            <div>
                @if(service.IsEditable)
                { 
                    <a class="btn btn-warning" data-toggle="modal" data-target="#modalEditForm" onclick="loadAjaxView('?id=' + @service.Id,'@Url.Action("EditForm","WorkOrder")', 'editForm-placeholder', app.WorkOrderDetail.OnEditFormComplet);"><span asp-localized-key="@WorkOrderConstants.WorkOrderFormEditButtonTitle" /></a>
                }
            </div>
        </div>
        <div id="extrasField-container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="bg-som--gray narrow-head thead-sticky @theadWoParent">
                        <tr>
                            <th scope="col"><span asp-localized-key="@Html.GetLocalizedText("GeneralSubmenuExtraFields")"></span></th>
                            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderFormExtraFieldsValueTitle"></span></th>
                        </tr>
                    </thead>
                    <partial name="_ExtraFieldsValuesForm" model="service.ExtraFieldValues" />
                </table>
            </div>
        </div>
    </div>
}