@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@model WorkOrderGenericEditViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <input asp-for="Id" type="hidden" />
        <input asp-for="TaskId" type="hidden" />
        <input asp-for="FlowId" type="hidden" />
        <input asp-for="IsDerived" type="hidden" />
        @if (Model.IsDerived)
        { 
        <div class="form-group row mb-0">
            <label><span asp-localized-key="@WorkOrderConstants.WorkOrderDerivatedInheritProject"></span></label>
            <div class="col">
                <label class="switch switch-label switch-pill switch-primary">
                    <input asp-for="InheritProject" type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
                </label>
            </div>
        </div>
        }
        <div class="form-group" id="projectdiv">
            <div class="row justify-content-between">
                <div class="col-4 p-0">
                    <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditProject"></span><span class="required">*</span></label>
                </div>
                <div class="col-4 p-0">
                    <div class="row justify-content-end">
                        <div class="col-sm-auto p-0">
                            <button type="button" id="OpenProjectAdvancedSearch" class="btn btn-link" data-toggle="modal" data-target="#AdvancedSearchModal">
                                <i class="fa fa-search mr-2"></i><span asp-localized-key="@LocalizationsConstants.AdvancedSearch"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ProjectComboFilter"></div>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>

        <div class="form-group" id="workOrdercategorydiv">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditWorkOrderCategory"></span>&nbsp;<span class="required">*</span></label>
            <select asp-for="WorkOrderCategoryId" class="form-control" onchange="app.WorkOrderEdit.OnWorkOrderCategoryChange(this)"></select>
            <span asp-validation-for="WorkOrderCategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="row justify-content-between">
                <div class="col-4 p-0">
                    <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditClientSite"></span><span class="required">*</span></label>
                </div>
                <div class="col-4 p-0">
                    <div class="row justify-content-end">
                        <div class="col-sm-auto p-0">
                            <button type="button" id="OpenClientSiteAdvancedSearch" class="btn btn-link" data-toggle="modal" data-target="#AdvancedSearchModal">
                                <i class="fa fa-search mr-2"></i><span asp-localized-key="@LocalizationsConstants.AdvancedSearch"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ClientSiteComboFilter"></div>
            <span asp-validation-for="ClientSiteId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="row justify-content-between">
                <div class="col-4 p-0">
                    <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditSiteId"></span><span class="required">*</span></label>
                </div>
                <div class="col-4 p-0">
                    <div class="row justify-content-end">
                        <div class="col-sm-auto p-0">
                            <button type="button" id="OpenSiteAdvancedSearch" class="btn btn-link" data-toggle="modal" data-target="#AdvancedSearchModal">
                                <i class="fa fa-search mr-2"></i><span asp-localized-key="@LocalizationsConstants.AdvancedSearch"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SiteIdComboFilter"></div>
            <span asp-validation-for="SiteId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditAsset"></span></label>
            <div id="AssetComboFilter"></div>
            <span asp-validation-for="AssetId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditUserSite"></span></label>
            <div id="UserSiteComboFilter"></div>
            <span asp-validation-for="UserSiteId" class="text-danger"></span>
        </div>

    </div>

    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditSource"></span>&nbsp;<span class="required">*</span></label>
            <select asp-for="OriginId" asp-items="@Model.OriginListItems" class="form-control"><option value="0">-</option></select>
            <span asp-validation-for="OriginId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditQueue"></span>&nbsp;<span class="required">*</span></label>
            <select asp-for="QueueId" asp-items="@Model.QueueListItems" class="form-control"><option value="0">-</option></select>
            <span asp-validation-for="QueueId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditWorkOrderStatus"></span>&nbsp;<span class="required">*</span></label>
            <select asp-for="WorkOrderStatusId" asp-items="@Model.WorkOrderStatusListItems" class="form-control"><option value="0">-</option></select>
            <span asp-validation-for="WorkOrderStatusId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditExternalWorkOrderStatus"></span>&nbsp;<span class="required">*</span></label>
            <select asp-for="ExternalWorkOrderStatusId" asp-items="@Model.ExternalWorkOrderStatusListItems" class="form-control"><option value="0">-</option></select>
            <span asp-validation-for="ExternalWorkOrderStatusId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderConstants.WorkOrderEditClientWorkOrder"></span>&nbsp;</label>
            <input asp-for="InternalIdentifier" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderConstants.WorkOrderEditClientWorkOrder)" />
            <span asp-validation-for="InternalIdentifier" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderConstants.WorkOrderEditClientSiteWorkOrder"></span>&nbsp;</label>
            <input asp-for="ClientSiteWorkOrder" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderConstants.WorkOrderEditClientSiteWorkOrder)" />
            <span asp-validation-for="ClientSiteWorkOrder" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditTextRepair"></span>&nbsp;<span class="required">*</span></label>
            <textarea asp-for="TextRepair" class="form-control input-theme-sm" rows="3"></textarea>
            <span asp-validation-for="TextRepair" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label"><span asp-localized-key="@WorkOrderConstants.WorkOrderEditObservations"></span>&nbsp;</label>
            <textarea asp-for="Observations" class="form-control input-theme-sm" rows="3"></textarea>
            <span asp-validation-for="Observations" class="text-danger"></span>
        </div>
    </div>
</div>