@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@model WorkOrderOperationsViewModel

<div id="operations-container" class="col-12 mb-3">
    <div class="row alert alert-info p-1"   >
        <div class="col">
            <label class="m-0"><span class="font-weight-bold" asp-localized-key="@WorkOrderConstants.WorkOrderOperationsResponse" /> @Model.IsEmptyTimeValue(Model.ResponseTime)</label>
        </div>
        <div class="col">
            <label class="m-0"><span class="font-weight-bold" asp-localized-key="@WorkOrderConstants.WorkOrderOperationsResolution" /> @Model.IsEmptyTimeValue(Model.ResolutionTime)</label>
        </div>
        <div class="col">
            <label class="m-0"><span class="font-weight-bold" asp-localized-key="@WorkOrderConstants.WorkOrderOperationsVisits" /> @Model.Visits</label>
        </div>
        <div class="col">
            <label class="m-0"><span class="font-weight-bold" asp-localized-key="@WorkOrderConstants.WorkOrderOperationsInterventions" /> @Model.Interventions</label>
        </div>
    </div>

    <h4><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsSLATitle"></span></h4>

    <div id="operations">
        <div id="operations_TimeResponse">
            <div class="som-panel">
                <div class="som-panel-title">
                    <span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsTimeResponse"></span>
                </div>
                <div class="som-panel-text">
                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsMeetText" />@Model.MeetResponseSLA</p>

                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsDateText" />@Model.SLAResponseDate</p>
                </div>
            </div>

        </div>
        <div id="operations_TimeResolution">

            <div class="som-panel">
                <div class="som-panel-title">
                    <span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsTimeResolution"></span>
                </div>
                <div class="som-panel-text">
                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsMeetText" />@Model.MeetResolutionSLA</p>

                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsDateText" />@Model.SLAResolutionDate</p>
                </div>
            </div>
        </div>

        <div class="operation_PenaltyResponse">
            <div id="actdate" class="som-panel">
                <div class="som-panel-title">
                    <span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsPenaltyResponse"></span>
                </div>
                <div class="som-panel-text">
                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsMeetText" />@Model.MeetResponsePenaltySla</p>

                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsDateText" />@Model.SlaResponsePenaltyDate</p>
                </div>
            </div>
        </div>

        <div class="operation_PenaltyResolution">
            <div class="som-panel">
                <div class="som-panel-title">
                    <span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsPenaltyResolution"></span>
                </div>
                <div class="som-panel-text">
                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsMeetText" />@Model.MeetResolutionPenaltySla</p>

                    <p><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsDateText" />@Model.SlaResolutionPenaltyDate</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-12">
    <div id="extrasField-container">
        <div class="table-responsive">
            <partial name="_ServiceAnalysisForm" model="Model.Services" />
        </div>
    </div>
</div>
