@using Group.Salto.Common.Constants

<div class="modal fade" id="perfomTask" tabindex="-1" role="dialog" aria-labelledby="perfomTaskTitle" aria-hidden="true">
    <div class="modal-dialog modal-primary modal- modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="perfomTaskTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="performTaskModal"></div>

                <div class="form-group mt-3">
                    <hr />
                    <label for="textareaObservations">
                        @LocalizationsConstants.Observations
                    </label>
                    <textarea class="form-control" id="textareaObservations" rows="3"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <span>Realizar la tarea en nombre del técnico seleccionado</span>
                        <label class="switch switch-label switch-pill switch-primary mr-2">
                            <input type="checkbox" class="switch-input" id="UnListedCheckState" data-val="false" name="supplantTechnician">
                            <span class="switch-slider" data-checked="@LocalizationsConstants.Yes" data-unchecked="@LocalizationsConstants.No"></span>
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div id="supplantTechnician"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">@LocalizationsConstants.Close</button>
                <button type="button" class="btn btn-primary">@LocalizationsConstants.SaveText</button>
            </div>
        </div>
    </div>
</div>
