@using Group.Salto.SOM.Web.Models.ServicesAnalysis
@using Group.Salto.Common.Constants.WorkOrder
@model IList<ServiceAnalysisViewModel>

<table class="table table-hover">
    <thead class="thead-som narrow-head">
        <tr>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceId"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceDescription"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceCreationTime"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceTechnician"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceSubContract"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceWorkTime"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceOnSiteTime"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceWaitTime"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceTravelTime"></span></th>
            <th scope="col"><span asp-localized-key="@WorkOrderConstants.WorkOrderOperationsServiceKm"></span></th>
        </tr>
    </thead>
    <tbody class="som-signature">
        @foreach (var service in Model)
        {     
            <tr>
                <td>@service.EmptyIdForSummatory(@service.Id)</td>
                <td>@service.Description</td>
                <td>@service.CreationDate</td>
                <td>@service.Technician</td>
                <td>@service.Subcontract</td>
                <td>@service.WorkedTime</td>
                <td>@service.TimeOnSite</td>
                <td>@service.WaitTime</td>
                <td>@service.TravelTime</td>
                <td>@service.Kilometers</td>
            </tr>
        }      
    </tbody>
</table>
