@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.Common.Constants

<div class="modal fade" id="modalSummary" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryProjectTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryProjectName"></span></dt>
                            <dd class="col-sm-9"><label id="projectName"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryProjectObservations"></span></dt>
                            <dd class="col-sm-9"><label id="projectObservations"></label></dd>
                        </dl>
                    </div>
                </div>

                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryContractTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryContractObject"></span></dt>
                            <dd class="col-sm-9"><label id="contractObject"></label></dd>

                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryContractObservations"></span></dt>
                            <dd class="col-sm-9"><label id="contractObservations"></label></dd>
                        </dl>
                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteName"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteName"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteNIF"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteNIF"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteTel1"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteTel1"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteTel2"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteTel2"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteTel3"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteTel3"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteFax"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteFax"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryClientSiteObs"></span></dt>
                            <dd class="col-sm-9"><label id="clientSiteObs"></label></dd>
                        </dl>

                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationName"></span></dt>
                            <dd class="col-sm-9"><label id="locationName"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationZone"></span></dt>
                            <dd class="col-sm-9"><label id="locationZone"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationSubZone"></span></dt>
                            <dd class="col-sm-9"><label id="locationSubZone"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationCity"></span></dt>
                            <dd class="col-sm-9"><label id="locationCity"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationPostalCode"></span></dt>
                            <dd class="col-sm-9"><label id="locationPostalCode"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryLocationState"></span></dt>
                            <dd class="col-sm-9"><label id="locationState"></label></dd>
                        </dl>

                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryAssignTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryAssignQueue"></span></dt>
                            <dd class="col-sm-9"><label id="assignQueue"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryAssignTechnician"></span></dt>
                            <dd class="col-sm-9"><label id="assignTechnician"></label></dd>
                        </dl>
                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOIdFather"></span></dt>
                            <dd class="col-sm-9"><label id="woIdFather"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOType"></span></dt>
                            <dd class="col-sm-9"><label id="woType"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOCategory"></span></dt>
                            <dd class="col-sm-9"><label id="woCategory"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOClient"></span></dt>
                            <dd class="col-sm-9"><label id="woClient"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOClientSite"></span></dt>
                            <dd class="col-sm-9"><label id="woClientSite"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOStatus"></span></dt>
                            <dd class="col-sm-9"><label id="woStats"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWOExternalStatus"></span></dt>
                            <dd class="col-sm-9"><label id="woExternalStats"></label></dd>
                            <dt class="col-sm-3"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryWORepair"></span></dt>
                            <dd class="col-sm-9"><label id="woRepair"></label></dd>
                        </dl>

                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingTitle"></span>
                    </div>
                    <div class="content">
                        <dl class="row">
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingCreate"></span></dt>
                            <dd class="col-sm-6">
                                <label id="timingCreate"></label>
                            </dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingReception"></span></dt>
                            <dd class="col-sm-6"><label id="timingReception"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingAssigned"></span></dt>
                            <dd class="col-sm-6"><label id="timingAssigned"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingPerformance"></span></dt>
                            <dd class="col-sm-6"><label id="timingPerformance"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingFinalPerformance"></span></dt>
                            <dd class="col-sm-6"><label id="timingFinalPerformance"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingCloseClient"></span></dt>
                            <dd class="col-sm-6"><label id="timingCloseClient"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingCloseSalto"></span></dt>
                            <dd class="col-sm-6"><label id="timingCloseSalto"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingAnswerSLA"></span></dt>
                            <dd class="col-sm-6"><label id="timingAnswerSLA"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingFinalSLA"></span></dt>
                            <dd class="col-sm-6"><label id="timingFinalSLA"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingPenaltyFinalSLA"></span></dt>
                            <dd class="col-sm-6"><label id="timingPenaltyFinalSLA"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingBreachPenaltySLA"></span></dt>
                            <dd class="col-sm-6"><label id="timingBreachPenaltySLA"></label></dd>
                            <dt class="col-sm-5"><span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryTimingStopSLA"></span></dt>
                            <dd class="col-sm-6"><label id="timingStopSLA"></label></dd>
                        </dl>

                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <span asp-localized-key="@WorkOrderConstants.WorkOrderSummaryExtraFieldsTitle"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.Close)</button>
            </div>
        </div>
    </div>
</div>