@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.SOM.Web.Models.WorkOrder
@model WorkOrderDetailViewModel

<div class="row">
    <div class="col">
        <ul class="nav nav-tabs mr-auto" id="nav-tab" role="tablist">
            <li class="nav-item WorkOrderDetail-tab">
                <a class="nav-link active" id="nav-petitionsummary-tab" data-toggle="tab" href="#nav-petitionsummary" role="tab" aria-controls="nav-generic" aria-selected="true">@Html.GetLocalizedText(WorkOrderConstants.WorkOrderPetitionSummaryTab)</a>
            </li>
            <li id="formtab" class="nav-item WorkOrderDetail-tab">
                <a class="nav-link" id="nav-forms-tab" data-toggle="tab" href="#nav-forms" role="tab" aria-controls="nav-forms" aria-selected="true">@Html.GetLocalizedText(WorkOrderConstants.WorkOrderFormsTab)</a>
            </li>
            <li id="subpetitiontab" class="nav-item WorkOrderDetail-tab">
                <a class="nav-link" id="nav-subpetitions-tab" data-toggle="tab" href="#nav-subpetitions" role="tab" aria-controls="nav-subpetitions" aria-selected="true">@Html.GetLocalizedText(WorkOrderConstants.WorkOrderSubPetitionsTab)</a>
            </li>
            <li id="deliverynotetab" class="nav-item WorkOrderDetail-tab">
                <a class="nav-link" id="nav-deliverynotes-tab" data-toggle="tab" href="#nav-deliverynotes" role="tab" aria-controls="nav-deliverynotes" aria-selected="true">@Html.GetLocalizedText(WorkOrderConstants.WorkOrderDeliveryNotesTab)</a>
            </li>
            <li id="assetstab" class="nav-item WorkOrderDetail-tab">
                <a class="nav-link" id="nav-assets-tab" data-toggle="tab" href="#nav-assets" role="tab" aria-controls="nav-assets" aria-selected="true">@Html.GetLocalizedText(WorkOrderConstants.WorkOrderAssetsTab)</a>
            </li>
            <li id="operationstab" class="nav-item WorkOrderDetail-tab">
                <a class="nav-link" id="nav-operations-tab" data-toggle="tab" href="#nav-operations" role="tab" aria-controls="nav-operations" aria-selected="true">@Html.GetLocalizedText(WorkOrderConstants.WorkOrderOperationsTab)</a>
            </li>
            <li class="nav-item ml-auto">
                <a asp-controller="WorkOrder" asp-action="Index" class="btn btn-outline-dark">
                    <i class="fa fa-arrow-left mr-1"></i><span asp-localized-key="@LocalizationsConstants.BackText"></span>
                </a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-petitionsummary" role="tabpanel" aria-labelledby="nav-petitionsummary-tab">
                <partial name="_PetitionSummaryForm" for="GenericDetailViewModel" />
            </div>
            <div class="tab-pane fade" id="nav-forms" role="tabpanel" aria-labelledby="nav-forms-tab">
                <div id="form-placeholder" class="row"></div>
            </div>
            <div class="tab-pane fade" id="nav-subpetitions" role="tabpanel" aria-labelledby="nav-subpetitions-tab">
                <partial name="_SubpetitionsForm" for="GenericDetailViewModel" />
            </div>
            <div class="tab-pane fade" id="nav-deliverynotes" role="tabpanel" aria-labelledby="nav-deliverynotes-tab">
                <partial name="_DeliveryNotesForm" for="GenericDetailViewModel" />
            </div>
            <div class="tab-pane fade" id="nav-assets" role="tabpanel" aria-labelledby="nav-assets-tab">
                <div id="asset-placeholder"></div>
            </div>
            <div class="tab-pane fade" id="nav-operations" role="tabpanel" aria-labelledby="nav-operations-tab">
                <div id="operations-placeholder" class="row"></div>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col">
        <hr />
        <a asp-controller="WorkOrder" asp-action="Index" class="btn btn-outline-dark mb-3">
            <i class="fa fa-arrow-left mr-1"></i><span asp-localized-key="@LocalizationsConstants.BackText"></span>
        </a>
    </div>
</div>