@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.Common.Constants

@model GenericDetailViewModel

<div id="woHeaderDetails">
    <div id="woId" class="alert bg-label-detail shadow-sm">
        <label><small><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailRequestNum"></span></small> <strong>@Model.Id</strong></label>
    </div>
    <div id="labelRefClient" class="alert bg-label-detail shadow-sm">
        <label><small><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailClientReference"></span></small> <strong>@Model.InternalIdentifier</strong></label>
    </div>
    <div id="woStatus" class="alert text-white" >
        <label><small><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailStatus"></span></small> <strong>@Model.WorkOrderStatus</strong></label>
    </div>
    <div id="woExternalStatus" class="alert text-white">
        <label><small><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailExternalStatus"></span></small> <strong>@Model.ExternalWorOrderStatus</strong></label>
    </div>

    <div id="woQueue" class="alert text-white">
        <label><small><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailQueue"></span></small> <strong>@Model.Queue</strong></label>
    </div>

    @if (Model.ShowHeader != false)
    {
        <div id="woSummary" class="border border-info oops">
            <table class="table">
                <thead class="thead-som narrow-head">
                    <tr>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailEstimatedTime"></span></th>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailWorkedTime"></span></th>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailComparedEstimate"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ExpectedWorkedTime @Html.GetLocalizedText(LocalizationsConstants.Min)</td>
                        <td>@Model.TotalWorkedTime @Html.GetLocalizedText(LocalizationsConstants.Min)</td>
                        <td>@Model.ExpectedVSTotalTime @Html.GetLocalizedText(LocalizationsConstants.Percentatge)</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-som">
                    <tr>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailKM"></span></th>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailTravelTime"></span></th>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailWaitTime"></span></th>
                        <th><span asp-localized-key="@WorkOrderConstants.WorkOrderDetailOnSiteTime"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Km @Html.GetLocalizedText(LocalizationsConstants.Km)</td>
                        <td>@Model.TravelTime @Html.GetLocalizedText(LocalizationsConstants.Min)</td>
                        <td>@Model.WaitTime @Html.GetLocalizedText(LocalizationsConstants.Min)</td>
                        <td>@Model.OnSiteTime @Html.GetLocalizedText(LocalizationsConstants.Min)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>