@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.PeopleCollection
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.PeopleCollection
@model PeopleCollectionDetailViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card border-info">
            <div class="card-body">
                @if (Model != null && Model.Id != 0)
                {
                    <div class="form-group row">
                        <label asp-localized-key="@PeopleCollectionConstants.PeopleCollectionIdentifierText" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" asp-for="Id" readonly />
                        </div>
                    </div>
                }

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@PeopleCollectionConstants.PeopleCollectionNameText"></span><span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="Name"
                               placeholder="@Html.GetLocalizedText(PeopleCollectionConstants.PeopleCollectionNamePlaceholder)" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@PeopleCollectionConstants.PeopleCollectionDescriptionText"></span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="Description"
                               placeholder="@Html.GetLocalizedText(PeopleCollectionConstants.PeopleCollectionDescriptionPlaceholder)" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <div class="col-12 col-sm-6">
        <div id="containerPeople">
            <h4 class="card-title" asp-localized-key="@PeopleCollectionConstants.PeopleCollectionPeopleAssignedTitle"></h4>
            <div id="peopleContainer"></div>
        </div>
        <div id="containerAdministrators">
            <h4 class="card-title" asp-localized-key="@PeopleCollectionConstants.PeopleCollectionPeopleAdministratorTitle"></h4>
            <div id="administratorContainer"></div>
        </div>
    </div>

</div>

<div class="form-group row text-right">
    <div class="col-12">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText"
                type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "PeopleCollection")'"></button>
        <input id="btnSavePeopleCollection" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>
