@using Group.Salto.Common.Constants.PredefinedServices
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.PredefinedServices

@model PredefinedServicesEditViewModel
<div class="modal fade" id="@PredefinedServicesConstants.PredefinedServicesModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="PredefinedServicesForm" name="PredefinedServicesForm" asp-controller="PredefinedServices" asp-action="PredefinedServices">
                    <input id="IsValid" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="CollectionExtraFieldName" class="form-control" readonly="readonly" />
                    <input type="hidden" asp-for="PredefinedServicesPermissionsString" class="form-control" readonly="readonly" />
                    <input type="hidden" asp-for="PredefinedServicesPermissionsIds" class="form-control" readonly="readonly" />
                    <div class="row">
                        <input type="hidden" asp-for="PredefinedServicesId" class="form-control" readonly="readonly" />
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label><span asp-localized-key="@PredefinedServicesConstants.PredefinedServicesNameText"></span><span class="required">*</span></label>
                                <input asp-for="PredefinedServicesName" class="form-control" placeholder="@Html.GetLocalizedText(PredefinedServicesConstants.PredefinedServicesNameText)" />
                                <span asp-validation-for="PredefinedServicesName" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-8"><span asp-localized-key="@PredefinedServicesConstants.PredefinedServicesLinkClosingCodeText"></span></label>
                                <div class="col-sm-4">
                                    <label class="switch switch-label switch-pill switch-primary">
                                        <input asp-for="PredefinedServicesLinkClosingCode" value="@Model.PredefinedServicesLinkClosingCode.ToString().ToLower()" type="checkbox" class="switch-input" onchange="app.common.ui.ChangeCheckbox(this)">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-8"><span asp-localized-key="@PredefinedServicesConstants.PredefinedServicesBillableText"></span></label>
                                <div class="col-sm-4">
                                    <label class="switch switch-label switch-pill switch-primary">
                                        <input asp-for="PredefinedServicesBillable" value="@Model.PredefinedServicesBillable.ToString().ToLower()" type="checkbox" class="switch-input" onchange="app.common.ui.ChangeCheckbox(this)">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-8"><span asp-localized-key="@PredefinedServicesConstants.PredefinedServicesMustValidateText"></span></label>
                                <div class="col-sm-4">
                                    <label class="switch switch-label switch-pill switch-primary">
                                        <input asp-for="PredefinedServicesMustValidate" value="@Model.PredefinedServicesMustValidate.ToString().ToLower()" type="checkbox" class="switch-input" onchange="app.common.ui.ChangeCheckbox(this)">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label><span asp-localized-key="@PredefinedServicesConstants.PredefinedServicesExtraFieldCollectionText"></span></label>
                                <select asp-for="CollectionExtraFieldId" asp-items="@Model.CollectionExtraFieldListItems" class="form-control" onchange="app.PredefinedServicesDetails.ChangeCollectionExtraFields()"><option value="0">-</option></select> @*"*@
                                <span asp-validation-for="CollectionExtraFieldId" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label><span asp-localized-key="@LocalizationsConstants.Permissions"></span></label>
                                <partial name="_MultiSelectControl" for="@Model.Permissions" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="PredefinedServicesConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="@PredefinedServicesConstants.PredefinedServicesConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>