@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Items
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Items

@model ItemsFilterViewModel

<div>
    <partial model="@Model.FilterHeader" name="_FilterHeader" />
    <div class="collapse in" id="filterItems">
        <form asp-action="Filter" asp-controller="Items" method="post" id="filter-form" class="form-control">
            <partial model="Model" name="_PagerHiddens" />
            <partial model="Model" name="_MultiTableHiddens" />
            <div class="row">
                <div class="col-lg-3">
                    <label class="col-form-label">
                        <span asp-localized-key="@ItemsConstants.ItemsFilterName"></span>
                    </label>
                    <input id="FilterName" asp-for="Name" class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsFilterPlaceholderName)" />
                </div>
                <div class="col-lg-3">
                    <label class="col-form-label">
                        <span asp-localized-key="@ItemsConstants.ItemsFilterErpReference"></span>
                    </label>
                    <input asp-for="ERPReference" class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsFilterPlaceholderErpReference)" />
                </div>
                <div class="col-lg-3">
                    <label class="col-form-label">
                        <span asp-localized-key="@ItemsConstants.ItemsFilterIntReference"></span>
                    </label>
                    <input asp-for="InternalReference" class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsFilterPlaceholderIntReference)" />
                </div>
                <div class="col-lg-3">
                    <label class="col-form-label">
                        <span asp-localized-key="@ItemsConstants.ItemsFilterBlocked"></span>
                    </label><br />
                    <label class="col-form-label switch switch-label switch-pill switch-primary">
                        <input asp-for="Blocked" type="checkbox" class="switch-input" id="UnListedCheckState">
                        <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
                    </label>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <br>
                        <button type="button" id="btnClear" class="btn btn-outline-danger" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                        <button id="btnApplyFilter" class="btn btn-primary" name="btnApplyFilter" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>