@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Flows
@using Group.Salto.SOM.Web.Extensions
@model Group.Salto.SOM.Web.Models.Flows.FlowsViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card border-info">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@LocalizationsConstants.Name"></span><span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="Name"
                               placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">
                        <span asp-localized-key="@LocalizationsConstants.Description"></span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="Description"
                               placeholder="@Html.GetLocalizedText(LocalizationsConstants.Description)" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <hr />
                <button asp-localized-key="@LocalizationsConstants.CancelText"
                        type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Flows")'"></button>
                <input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
            </div>
        </div>
    </div>
</div>