@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Items
@using Group.Salto.SOM.Web.Models.Items
@using Group.Salto.SOM.Web.Extensions
@model ItemPointsViewModel

<div class="row">
    <div class="col-12">
        <strong asp-localized-key="@ItemsConstants.ItemsDetailsCurrentPointRates"></strong>
    </div>
</div>
<div class="row">
    @for (int i = 0; i < Model?.PointsRates?.Count; i++)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <label>@Model?.PointsRates[i].Name</label>
                <input type="hidden" asp-for="@Model.PointsRates[i].Id" value="@Model?.PointsRates[i].Id" />
                <input type="hidden" asp-for="@Model.PointsRates[i].Name" value="@Model?.PointsRates[i].Name" />
                <div class="input-group">
                    <input asp-for="@Model.PointsRates[i].Value" class="form-control" placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsDetailsPlaceHolderPoints)" />
                    <div class="input-group-append">
                        <label class="input-group-text">@Html.GetLocalizedText(ItemsConstants.ItemsDetailsPoints)</label>
                    </div>
                </div>
            </div>
        </div>
    }

    @for (int i = 0; i < Model?.OtherPointsRates?.Count; i++)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <label>@Model?.OtherPointsRates[i]?.Name</label>
                <input type="hidden" asp-for="@Model.OtherPointsRates[i].Id" value="@Model?.OtherPointsRates[i]?.Id" />
                <input type="hidden" asp-for="@Model.OtherPointsRates[i].Name" value="@Model?.OtherPointsRates[i]?.Name" />
                <div class="input-group">
                    <input asp-for="@Model.OtherPointsRates[i].Value" class="form-control" placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsDetailsPlaceHolderPoints)" />
                    <div class="input-group-append">
                        <label class="input-group-text">@Html.GetLocalizedText(ItemsConstants.ItemsDetailsPoints)</label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>