@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Items
@using Group.Salto.SOM.Web.Models.Items
@using Group.Salto.SOM.Web.Extensions
@model ItemSalesViewModel

<div class="row">
    <div class="col-sm-12">
        <b asp-localized-key="@ItemsConstants.ItemsDetailsCurrentSalesRates"></b>
    </div>
    @for (int i = 0; i < Model?.SalesRates?.Count; i++)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <label >@Model?.SalesRates[i].Name</label>
                <input type="hidden" asp-for="@Model.SalesRates[i].Name" value="@Model?.SalesRates[i]?.Name" />
                <input type="hidden" asp-for="@Model.SalesRates[i].Id" value="@Model?.SalesRates[i]?.Id" />
                <div class="input-group">
                    <input asp-for="@Model.SalesRates[i].Value" class="form-control" placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsDetailsPlaceHolderSales)" />
                    <div class="input-group-append">
                        <label class="input-group-text">€</label>
                    </div>
                </div>
            </div>
        </div>
    }
    @for (int i = 0; i < Model?.OtherSalesRates?.Count; i++)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <label >@Model.OtherSalesRates[i].Name</label>
                <input type="hidden" asp-for="@Model.OtherSalesRates[i].Name" value="@Model?.OtherSalesRates[i]?.Name" />
                <input type="hidden" asp-for="@Model.OtherSalesRates[i].Id" value="@Model?.OtherSalesRates[i]?.Id" />
                <div class="input-group">
                    <input asp-for="@Model.OtherSalesRates[i].Value" class="form-control" placeholder="@Html.GetLocalizedText(ItemsConstants.ItemsDetailsPlaceHolderSales)" />
                    <div class="input-group-append">
                        <label class="input-group-text">€</label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>