@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Items
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Controls.Table
@using System;
@using Group.Salto.Common.Constants.Items
@using Group.Salto.Common.Constants

@model ResultViewModel<ItemsListViewModel>

@{
    var title = @Html.GetLocalizedText(ItemsConstants.ItemsIndexTitle);
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-title">@title</h1>

@{
    var table = Html.GetMultiSelectTableFor(Model.Data.Items, au => au.Id, Model.Data.ItemsFilters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Description, m => m.InternalReference, m => m.ERPReference, m => m.ItemsTypeName, m => m.SyncErp, m => m.IsBlocked);
    table.SetSortingColumns(m => m.Name, m => m.ERPReference);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_ItemsFilter" model="@Model.Data.ItemsFilters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.Items.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("ItemsGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.ItemsFilters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Id="ErrorModal"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)">
</popup>

<popup Text="@Html.GetLocalizedText(ItemsConstants.ItemsDeleteTitle)" Id="confirmationModalItems"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>


@section scripts {
    <script src="~/js/Items/ItemsList.js"></script>
    <script src="~/js/Common/config.js"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                var urlDeleteItems = "@(Url.Action("Delete", "Items"))";
                app.items.Init(urlDeleteItems);
                MultiTableScript("ItemsGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.ItemsFilters));
                pager.PagerSelector.Init({ PageData: page });
            });
        })(jQuery);
    </script>
}