@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Client
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Client
@model ClientsFilterViewModel
<div>
    <partial model="@Model.FilterHeader" name="_FilterHeader" />
    <div class="collapse in" id="filterSection">
        <form asp-action="Filter" asp-controller="Clients" method="post" id="filter-form" class="form-control">
            <partial model="Model" name="_PagerHiddens" />
            <partial model="Model" name="_MultiTableHiddens" />
            <div class="row">
                <div class="col-lg-5">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@ClientsConstants.ClientListCorporateName"></span>
                    </label>
                    <input asp-for="CorporateName" id="ClientsFilterCorporateName" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientListCorporateName)" />
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <br>
                        <button type="button" class="btn btn-outline-danger" id="btnClear" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                        <button id="btnApplyFilter" name="btnApplyFilter" class="btn btn-primary" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>