@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Client
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Client
@model ClientGeneralDetailViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="card border-primary">
            <div class="card-body">
                @if (Model != null && Model.Id != 0)
                {
                    <div class="form-group row bg-secondary pl-2">
                        <label class="pt-2"><span asp-localized-key="@ClientsConstants.ClientCorporateIdFormText"></span></label>
                        <div class="col">
                            <input type="text" class="form-control-plaintext" asp-for="Id" readonly />
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label><span asp-localized-key="@ClientsConstants.ClientCorporateNameFormText"></span><span class="required">*</span></label>
                    <input asp-for="CorporateName" class="form-control" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientCorporateNameFormText)" />
                    <span asp-validation-for="CorporateName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><span asp-localized-key="@ClientsConstants.ClientComercialNameFormText"></span></label>
                    <input asp-for="ComercialName" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientComercialNameFormText)" />
                    <span asp-validation-for="ComercialName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><span asp-localized-key="@ClientsConstants.ClientAliasFormText"></span></label>
                    <input asp-for="Alias" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientAliasFormText)" />
                    <span asp-validation-for="Alias" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><span asp-localized-key="@ClientsConstants.ClientInternCodeFormText"></span></label>
                    <input asp-for="InternCode" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientInternCodeFormText)" />
                    <span asp-validation-for="InternCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><span asp-localized-key="@ClientsConstants.ClientContableCodeFormText"></span></label>
                    <input asp-for="ContableCode" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientContableCodeFormText)" />
                    <span asp-validation-for="ContableCode" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 pl-0"><span asp-localized-key="@ClientsConstants.ClientUnListedFormText"></span></label>
                    <label class="switch switch-label switch-pill switch-primary">
                        <input asp-for="UnListed" type="checkbox" class="switch-input" id="UnListedCheckState">
                        <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
                    </label>
                </div>

            </div>
        </div>

    </div>

    <div class="col-12 col-sm-4">

        <div class="form-group">
            <label><span asp-localized-key="@ClientsConstants.ClientAddressFormText"></span></label>
            <input asp-for="Address" class="form-control" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientAddressFormText)" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div id="container" class="col-12 p-0">
                <div id="countrySelector"></div>
            </div>
        </div>

    </div>

    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@ClientsConstants.ClientPhoneFormText"></span></label>
            <input asp-for="Phone" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientPhoneFormText)" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@ClientsConstants.ClientMobilePhoneFormText"></span></label>
            <input asp-for="MobilePhone" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientMobilePhoneFormText)" />
            <span asp-validation-for="MobilePhone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@ClientsConstants.ClientMailFormText"></span></label>
            <input asp-for="Mail" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientMailFormText)" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@ClientsConstants.ClientWebFormText"></span></label>
            <input asp-for="Web" class="form-control input-theme-sm" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientWebFormText)" />
            <span asp-validation-for="Web" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@ClientsConstants.ClientObservationsFormText"></span></label>
            <textarea asp-for="Observations" rows="6" class="form-control" placeholder="@Html.GetLocalizedText(ClientsConstants.ClientObservationsFormText)"></textarea>
            <span asp-validation-for="Observations" class="text-danger"></span>
        </div>
    </div>
</div>