@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.PurchaseRate
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Controls.Table
@using System;
@using Group.Salto.Common.Constants.PurchaseRate
@using Group.Salto.Common.Constants

@model ResultViewModel<PurchaseRatesViewModel>

@{
    ViewData["Title"] = @Html.GetLocalizedText("PurchaseRateIndexTitle");
    var title = @Html.GetLocalizedText("PurchaseRateIndexTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-title">@title</h1>

@{
    var table = Html.GetMultiSelectTableFor(Model.Data.PurchaseRate, au => au.Id.Value, Model.Data.PurchaseRateFilters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.ReferenceErp, m => m.Description);
    table.SetSortingColumns(m => m.Name, m => m.Description);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_PurchaseRateFilter" model="@Model.Data.PurchaseRateFilters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.PurchaseRate.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("PurchaseRateGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.PurchaseRateFilters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Text="@Html.GetLocalizedText(PurchaseRateConstants.PurchaseRateDeleteMessage)" Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>

@section scripts {
    <script src="~/js/PurchaseRate/PurchaseRate.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                app.purchaserate.Init();
                MultiTableScript("PurchaseRateGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.PurchaseRateFilters));

                pager.PagerSelector.Init({ PageData: page });

                $(".deleteButton").on("click",
                    function (evt) {
                        evt.preventDefault();
                        var id = $(this).attr('id');
                            deleteElement(id, "#confirmationModal",
                            "#confirmationModalConfirmSave");
                    });

                function deleteElement(id, modalId, saveButtonId) {
                    $(modalId).modal();

                    $(saveButtonId).on("click",
                        function () {
                            $.ajax({
                                url: '@Url.Action("Delete", "PurchaseRate")',
                                type: 'POST',
                                dataType: 'json',
                                cache: false,
                                data: { id: id },
                                success: function() {
                                    $("#btnApplyFilter").click();
                                },
                            });
                            $(modalId).modal();
                        });
                }

                $("#confirmationModalConfirmCancel").on("click", function () {
                    $("#confirmationModal").removeClass("in show");
                    $("#confirmationModal").css("display", "none");
                    $("#confirmationModalConfirmSave").off("click");
                });
            });
        })(jQuery);
    </script>
}