@using Group.Salto.Common.Constants.ServiceGauges
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.ServiceGauges

@model ServiceGaugesListViewModel

<div class="animated fadeIn">
    <div class="row">
        <div class="align-content-center col-xl-4 col-md-10 col-lg-6" id="ProjectCost" style="max-width:350px; height: 400px; margin: auto"></div>
        <div class="align-content-center col-xl-4 col-md-10 col-lg-6" id="ProjectRevenue" style="max-width:350px; height: 400px; margin: auto"></div>
        <div class="align-content-center col-xl-4 col-md-10 col-lg-6" id="ProjectMargin" style="max-width:350px; height: 400px; margin: auto"></div>
    </div>
    <br /><br />

    <div class="card">
        <div class="columns small-9 end" style="padding-top:22px;">
            <div class="table-responsive">
                <table id="ReportTable" class="table table-stripped thead-dark">
                    <thead>
                        <tr>
                            <th></th>
                            <th> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesProfitandLossTitle) </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-container" style="display:none">
                            <td style="text-align:right">@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesProject) : </td>
                            <td style="text-align:right">@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesCategory) : </td>
                            <td style="text-align:right">@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesStartDate) : </td>
                            <td style="text-align:right">@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesEndDate) : </td>
                        </tr>
                        <tr class="bg-container" style="display:none">
                            <td id="Project"></td>
                            <td id="Category"></td>
                            <td id="StartDateP"></td>
                            <td id="EndDateP"></td>
                        </tr>
                        <tr class="bg-green">
                            <td> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugessuccess) </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesMaterials) </td>
                            <td id="RevenueMaterials"> 0€ </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesWorkforce) </td>
                            <td id="RevenueWorkForce"> 0€ </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td><b>  @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesTotalIncomes) </b></td>
                            <td id="Incomes"><b> 0€ </b></td>
                            <td></td>
                        </tr>
                        <tr class="bg-red">
                            <td>@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesCosts) </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesMaterialsEc) </td>
                            <td id="CostMaterials"> 0€ </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesWorkforceEc) </td>
                            <td id="CostDirectWorkForce"> 0€</td>
                            <td id="HoursDirectWorkForce">
                                0 h 0 m
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesCostsWait) </td>
                            <td id="ExpensesWait">0€</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesCostsTravel) </td>
                            <td id="ExpensesTravel">0€</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesCostsKm)</td>
                            <td id="ExpensesKm">0€</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesOutsourcing)</td>
                            <td id="CostOutSource">0€</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesExpenses)</td>
                            <td id="ExpensesOther"> 0€ </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesTotalCosts)</b></td>
                            <td id="TotalCosts"> <b>0€</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="color:red"><b> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesGross_Margin) (€)</b></td>
                            <td></td>
                            <td id="Margin" style="color:red"><b>  0€</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="color:red"><b> @Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesGross_Margin) (%) </b> </td>
                            <td></td>
                            <td id="MarginP" style="color:red"><b> 0 %</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <tbody>
                </table>
                <div class="fa-pull-right">
                    <button id="Export" class="btn btn-primary">@Html.GetLocalizedText(ServiceGaugesConstants.ServiceGaugesGrossToExcel)</button>
                    
                    <p> <br /> </p>
                </div>
            </div>
        </div>
    </div>
</div>



