@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.ToolsType
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.ToolsType

@model ToolsTypeDetailsViewModel

<input type="hidden" asp-for="Id" />
<div class="form-group row">
    <label class="col-12 col-sm-3 col-form-label" asp-for="Name"><span asp-localized-key="@ToolsTypeConstants.ToolsTypeGridTheadName"></span><span class="required">*</span></label>
    <div class="col-12 col-sm-6">
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@ToolsTypeConstants.ToolsTypeGridTheadDescription" class="col-md-3 col-form-label" asp-for="Description">Description</label>
    <div class="col-12 col-md-6">
        <input asp-for="Description" rows="9" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@ToolsTypeConstants.ToolsTypeGridTheadObservation" class="col-md-3 col-form-label" asp-for="Observation">Observation</label>
    <div class="col-12 col-sm-6">
        <textarea asp-for="Observation" class="form-control"></textarea>
    </div>
</div>
<div class="form-group">
    <h4 class="card-title" asp-localized-key="@ToolsTypeConstants.ToolsTypeKnowledgeTitle"></h4>
    <div id="container">
        <div id="knowledgesContainer"></div>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 text-right">
        <hr />
        <button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "ToolsType")'">
            <span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
        <input id="btnSaveToolsType" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>