@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.SymptomCollection
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.SymptomCollection

@model SymptomCollectionDetailViewModel

@Html.HiddenFor(m => m.Id, new { Id = "Id" })
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" asp-for="Name"><span asp-localized-key="@SymptomCollectionConstants.SymptomCollectionName"></span><span class="required">*</span></label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Name" placeholder="@Html.GetLocalizedText(SymptomCollectionConstants.SymptomCollectionPlaceHolderName)">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-md-3 col-form-label" asp-for="Element"><span asp-localized-key="@SymptomCollectionConstants.SymptomCollectionElement"></span><span class="required">*</span></label>
            <div class="col-md-9">
                <input type="text" class="form-control" asp-for="Element" placeholder="@Html.GetLocalizedText(SymptomCollectionConstants.SymptomCollectionPlaceHolderElement)">
                <span asp-validation-for="Element" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-localized-key="@SymptomCollectionConstants.SymptomCollectionDescription" class="col-md-3 col-form-label" asp-for="Description"></label>
            <div class="col-md-9">
                <textarea asp-for="Description" class="form-control input-theme-sm" rows="3" maxlength="200" placeholder="@Html.GetLocalizedText(SymptomCollectionConstants.SymptomCollectionPlaceHolderDescription)"></textarea>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="row">
            <label class="col-sm-3">
                <span asp-localized-key="@SymptomCollectionConstants.SymptomCollectionsSymptomsMultiSelectorTitle"></span>
            </label>
            <div class="col-sm-9">
                <partial name="_MultiSelectControl" for="@Model.SymptomsSelected" />
            </div>
        </div>
    </div>
</div>