@using Group.Salto.SOM.Web.Models.SymptomCollection;
@using Group.Salto.SOM.Web.Models.Result;
@using Group.Salto.SOM.Web.Extensions;
@using Group.Salto.Common.Constants;
@using Group.Salto.Common.Constants.SymptomCollection;
@using Group.Salto.Common.Enums

@model ResultViewModel<SymptomCollectionDetailViewModel>

@{
    ViewData["Title"] = @Html.GetLocalizedText(SymptomCollectionConstants.SymptomCollectionDetailsTitle);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-9">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2><span asp-localized-key="@SymptomCollectionConstants.SymptomCollectionDetailsTitle"></span>&nbsp;<small class="text-muted">#@Model?.Data?.Id</small></h2>
            </div>
            <div class="card-body">
                <form asp-controller="SymptomCollection" asp-action="Edit" method="post" class="form-horizontal">
                    <partial name="_SymptomCollectionForm" model="Model?.Data" />
                    <div class="form-group row">
                        <div class="col-12 text-right">
                            <input type="button" onclick="location.href='@Url.Action("Index", "SymptomCollection")'" value="@Html.GetLocalizedText(LocalizationsConstants.CancelText)" class="btn btn-outline-danger" />
                            <input type="submit" class="btn btn-success spinner-loader" id="btnSendMessage" name="sendMessage" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/MultiSelect.js"></script>
    <script src="~/js/Common/authorization.js"></script>
    <script language="javascript">
        app.multiselect.Init('@Model.Data.SymptomsSelected.Name');
        var saveCreate = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.SymptomCollection, ActionEnum.Create).ToString().ToLower();
        app.common.authorization.disable("btnSendMessage", saveCreate);
    </script>
}