@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Projects
@using Group.Salto.Common.Constants.Project

@model ProjectsFilterViewModel

<div>
    <partial model="@Model.FilterHeader" name="_FilterHeader" />
    <div class="collapse in" id="filterProject">
        <form asp-action="Filter" asp-controller="Projects" method="post" id="filter-form" class="form-control">
            <partial model="Model" name="_PagerHiddens" />
            <partial model="Model" name="_MultiTableHiddens" />
            <div class="row">
                <div class="col-lg-4">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@LocalizationsConstants.Name"></span>
                    </label>
                    <input asp-for="Name" id="projectFilterName"
                           class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                </div>
                <div class="col-lg-4">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@ProjectConstants.ProjectSerie"></span>
                    </label>
                    <input asp-for="Serie" id="projectFilterSerie"
                           class="form-control input-theme-sm"
                           placeholder="@Html.GetLocalizedText(ProjectConstants.ProjectSerie)" />
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <br>
                        <button type="button" id="btnClear" class="btn btn-outline-danger" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                        <button id="btnApplyFilter" class="btn btn-primary" name="btnApplyFilter" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>