@using Group.Salto.Common.Constants.Project
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Projects
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.Controls.Table
@model ResultViewModel<ProjectsListViewModel>
@{
    var title = Html.GetLocalizedText(ProjectConstants.ProjectPageTitle);
    ViewData["Title"] = title;
}

<h1 class="page-title">@title</h1>

@{
    var table = Html.GetMultiSelectTableFor(Model.Data.ProjectsList, au => au.Id, Model.Data.Filters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Serie, m => m.Counter, m => m.StartDate, m => m.EndDate, m => m.IsActive, m => m.ContractName, m => m.ProjectManager, m => m.Observations);
    table.SetSortingColumns(m => m.Name, m => m.Serie);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_ProjectsFilter" model="@Model.Data.Filters" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Data.ProjectsList.Any())
            {
                <div class="table-responsive workstation-table">
                    @table.Render("ProjectsGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.Filters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Text=""
       Id="confirmationModalWithProjects"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>

<popup Text="@Html.GetLocalizedText(ProjectConstants.ProjectDeleteMessage)" Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>

@section scripts {
    <script src="~/js/Common/config.js"></script>
    <script src="~/js/Common/constants.js"></script>
    <script src="~/js/Projects/ProjectsList.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                var urlDeleteProject = "@(Url.Action("Delete", "Projects"))";
                app.project.Init(urlDeleteProject);
                MultiTableScript("ProjectsGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.Filters));
                pager.PagerSelector.Init({ PageData: page });
            });
        })(jQuery);
    </script>
}