@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.SubContracts
@using Group.Salto.Controls.Table
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.SOM.Web.Models.SubContract
@model ResultViewModel<SubContractsViewModel>
@{
    var title = @Html.GetLocalizedText(SubContractsConstants.SubContractIndexPageTitle);
    ViewData["Title"] = title;
}
<h1 class="page-title">@title</h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.SubContracts, au => au.Id, Model.Data.SubContractFilter, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Description, m => m.Observations, m => m.Priority);
    table.SetSortingColumns(m => m.Name, m => m.Name, m => m.Description);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}
<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_SubContractFilter" model="@Model.Data.SubContractFilter" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.SubContracts.Any())
            {
                <div class="table-responsive workstation-table">
                    @table.Render("SubContractsGrid")
                </div>
                <partial name="_Pager" for="@Model.Data.SubContractFilter" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>
<popup Text="@Html.GetLocalizedText(SubContractsConstants.SubContractDeleteMessage)"
       Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>

@section scripts {
    <script src="~/js/SubContracts/SubContract.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                app.subContract.main.Init();
                MultiTableScript("SubContractsGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.SubContractFilter));
                pager.PagerSelector.Init({ PageData: page });
                $(".deleteButton").on("click",
                    function (evt) {
                        evt.preventDefault();
                        var id = $(this).attr('id');
                        deleteElement(id, "#confirmationModal","#confirmationModalConfirmSave");

                    });
                function deleteElement(id, modalId, saveButtonId)
                {
                    $(modalId).modal("toggle");
                    $(saveButtonId).on("click",
                        function () {
                            $.ajax({
                                url: '@Url.Action("Delete", "SubContract")',
                                type: 'DELETE',
                                dataType: 'json',
                                cache: false,
                                data: { id: id },
                                success: function() {
                                    $("#btnApplyFilter").trigger("click");
                                },
                            });
                            $(modalId).modal("toggle");
                        });
                }
                $("#confirmationModalConfirmCancel").on("click", function ()
                {
                    $("#confirmationModal").modal("toggle");
                    $("#confirmationModalConfirmSave").off("click");
                });
            });
        })(jQuery);
    </script>
}