@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Sites
@using Group.Salto.SOM.Web.Models.Sites
@using Group.Salto.SOM.Web.Extensions
@model GenericDetailViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <div>
            <input asp-for="FinalClientId" type="hidden" />
            <input asp-for="IdSite" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-localized-key="@SitesConstants.SitesName"></label>
            <span class="required">*</span>
            <input asp-for="Name" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesName)" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-localized-key="@SitesConstants.SitesCode"></label>
            <span class="required">*</span>
            <input asp-for="Code" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesCode)" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-localized-key="@SitesConstants.SitesObservations"></label>
            <textarea asp-for="Observations" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesObservations)"></textarea>
            <span asp-validation-for="Observations" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="form-row">
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesPhone1"></label>
                <input asp-for="Phone1" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesPhone1)" />
                <span asp-validation-for="Phone1" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesPhone2"></label>
                <input asp-for="Phone2" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesPhone2)" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesPhone3"></label>
                <input asp-for="Phone3" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesPhone3)" />
                <span asp-validation-for="Phone3" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-localized-key="@SitesConstants.SitesFax"></label>
            <input asp-for="Fax" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesFax)" />
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
    </div>
</div>