@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Sites
@using Group.Salto.SOM.Web.Models.Sites
@using Group.Salto.SOM.Web.Extensions
@model GeolocationDetailViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="row">
            <div class="col-12 p-0">
                <div id="countrySelector"></div>
            </div>
        </div>
        <div class="form-group row">
            <input asp-for="MunicipalitySelected" hidden />
            <label class="pl-0 col-12 col-sm-3 col-form-label" asp-localized-key="@LocalizationsConstants.City"></label>
            <div class="col-12 col-sm-9">
                <select id="municipalities_combo" class='form-control'></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="pl-0 col-12 col-sm-3 col-form-label" asp-localized-key="@SitesConstants.SitesPostalCode"> <span class="required">*</span></label>
            <div class="col-12 col-sm-9">
                <input id="PostalCodeConfirm" asp-for="PostalCode" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesPostalCode)" required disabled />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesArea"></label>
                <input asp-for="Area" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesArea)" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">

                <label asp-localized-key="@SitesConstants.SitesZone"></label>
                <input asp-for="Zone" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesZone)" />
                <span asp-validation-for="Zone" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">

                <label asp-localized-key="@SitesConstants.SitesSubZone"></label>
                <input asp-for="SubZone" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesSubZone)" />
                <span asp-validation-for="SubZone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesStreetType"></label>
                <input asp-for="StreetType" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesStreetType)" />
                <span asp-validation-for="StreetType" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-8">
                <label asp-localized-key="@SitesConstants.SitesStreet"><span class="required">*</span></label>
                <input asp-for="Street" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesStreet)" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesNumber"></label>
                <input asp-for="Number" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesNumber)" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesGate"></label>
                <input asp-for="Gate" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesGate)" />
                <span asp-validation-for="Gate" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">
                <label asp-localized-key="@SitesConstants.SitesGateNumber"></label>
                <input asp-for="GateNumber" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesGateNumber)" />
                <span asp-validation-for="GateNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <div class="row">
            <div class="col-12 col-sm-6 pl-0">
                <div id="panelGeocode" class="input-group mb-3">
                    <input type="text" id="mapseachaddress" class="form-control">
                    <div class="input-group-append">
                        <input type="button" id="searchcodeaddress" name="searchcodeaddress" value="@Html.GetLocalizedText(LocalizationsConstants.Search)" class="btn btn-info">
                    </div>
                </div>
            </div>
            <div id="map-canvas" class="col-12"></div>
        </div>
        <div class="row mt-3">
            <div class="form-group col-sm-6">
                <label asp-localized-key="@SitesConstants.SitesLatitude"></label>
                <input asp-for="Latitude" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesLatitude)" readonly />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-localized-key="@SitesConstants.SitesLongitude"></label>
                <input asp-for="Longitude" class="form-control" placeholder="@Html.GetLocalizedText(SitesConstants.SitesLongitude)" readonly />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
