@using Group.Salto.Common.Constants.Sites
@using Group.Salto.Common.Constants.Assets
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Sites
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.Controls.Table
@model ResultViewModel<SitesListViewModel>

@{
    var title = Html.GetLocalizedText(SitesConstants.SitesPageTitle);
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-title">@title <small class="text-muted">@Model.Data.Filters.FinalClientName</small></h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.SitesList, au => au.IdSite, Model.Data.Filters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Code, m => m.City, m => m.Observations);
    table.SetSortingColumns(m => m.Name);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.IdSite,
    @<div class="col-update text-right">
        <a asp-controller="Assets" asp-action="Index" asp-route-id="@item.RawValue" id="@item.RawValue" class="btn btn-ghost-info">
            @SitesConstants.SitesAssets
        </a>
        <a asp-controller="SiteUser" asp-action="Index" asp-route-id="@item.RawValue" id="@item.RawValue" class="btn btn-ghost-info">
            @SitesConstants.SiteUser
        </a>
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_SitesFilter" model="@Model.Data.Filters" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Data.SitesList.Any())
            {
                <div class="table-responsive workstation-table">
                    @table.Render("SitesGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.Filters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
        <div class="col-12">
            <a asp-controller="FinalClients" asp-action="Index" class="btn btn-outline-dark mb-3">
                <i class="fa fa-arrow-left mr-1"></i><span asp-localized-key="@SitesConstants.GoBackFinalClients"></span>
            </a>
        </div>
    </div>
</div>

<popup Text="@Html.GetLocalizedText(SitesConstants.SitesEditErrorMessage)" Id="ErrorModal"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)">
</popup>

<popup Text="@Html.GetLocalizedText(SitesConstants.SitesDeleteMessage)" Id="confirmationModalSites"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>

@section scripts {
    <script src="~/js/Common/constants.js"></script>
    <script src="~/js/Common/validations.js"></script>
    <script src="~/js/Common/config.js"></script>
    <script src="~/js/Sites/SitesList.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                var urlDeleteSites = "@(Url.Action("Delete", "Sites"))";
                MultiTableScript("SitesGrid");
                app.sites.Init(urlDeleteSites);
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.Filters));
                pager.PagerSelector.Init({ PageData: page });
            });
        })(jQuery);
    </script>
}