@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Expense
@using Group.Salto.Common.Constants.Model
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Expense

@model ExpenseDetailsViewModel

@if (Model != null && Model.Id != 0)
{
    <input type="hidden" class="form-control" asp-for="Id" readonly />
}

@if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.List)
{
    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadObservation" class="col-sm-3 col-form-label" asp-for="Description"></label>
        <div class="col-md-9">
            <textarea asp-for="Description" disabled rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadObservation)"></textarea>
        </div>
    </div>
    <div id="ImportInput" class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadAmount" class="col-sm-3 col-form-label" asp-for="Amount"></label>
        <div class="col-md-9">
            <input type="number" step=".01" asp-for="Amount" rows="9" disabled class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadAmount)" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadExpenseType" class="col-sm-3 col-form-label" asp-for="ExpenseTypeId"></label>
        <div class="col-md-9">
            <select asp-for="ExpenseTypeId" disabled asp-items="@Model.ExpenseTypesList" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadExpenseType)"></select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadPaymentMethod" class="col-sm-3 col-form-label" asp-for="PaymentMethodId"></label>
        <div class="col-md-9">
            <select asp-for="PaymentMethodId" disabled asp-items="@Model.PaymentMethodsList" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadPaymentMethod)"></select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadDate" class="col-sm-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Date" disabled type="text" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadDate)" />
        </div>
    </div>
}
else if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit || Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Create)
{
    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadObservation" class="col-sm-3 col-form-label" asp-for="Description"></label>
        <div class="col-md-9">
            <textarea asp-for="Description" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadObservation)"></textarea>
        </div>
    </div>

    <div id="ImportInput" class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadAmount" class="col-sm-3 col-form-label" asp-for="Amount"></label>
        <div class="col-md-9">
            <input asp-for="Amount" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadAmount)" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadExpenseType" class="col-sm-3 col-form-label" asp-for="ExpenseTypeId"></label>
        <div class="col-md-9">
            <select asp-for="ExpenseTypeId" asp-items="@Model.ExpenseTypesList" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadExpenseType)"></select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadPaymentMethod" class="col-sm-3 col-form-label" asp-for="PaymentMethodId"></label>
        <div class="col-md-9">
            <select asp-for="PaymentMethodId" asp-items="@Model.PaymentMethodsList" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadPaymentMethod)"></select>
        </div>
    </div>
    <input type="hidden" asp-for="ExpenseStatusId" />
    <input type="hidden" asp-for="ExpenseStatus" />

    @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Create)
    {
        <div class="form-group row">
            <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadDate" class="col-sm-3 col-form-label"></label>
            <div class="col-md-9">
                <input value="@DateTime.Now" asp-for="Date" type="text" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadDate)" />
            </div>
        </div>
    }
    else if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
    {
        <div class="form-group row">
            <label asp-localized-key="@ExpenseConstants.ExpenseGridTheadDate" class="col-sm-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="Date" type="datetime" rows="9" class="form-control" placeholder="@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadDate)" />
            </div>
        </div>
    }
}

@if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Create)
{
    <div class="form-group row">
        <label asp-localized-key="ExpenseUploadTicket" class="col-sm-3 col-form-label"></label>
        <div class="col input-group mb-3">
            <div class="custom-file">
                <input asp-for="UploadTicket" type="file" name="UploadTicket" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                <label class="custom-file-label" for="inputGroupFile">Upload one or more files using this form</label>
            </div>
        </div>
    </div>
}

@if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit || Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.List)
{
    @if (Model.FileExists)
    {
        <div class="form-group row">
            <label asp-localized-key="ExpenseUploadTicket" class="col-sm-3 col-form-label"></label>
            <div class="col">
                <a class="btn btn-outline-primary" asp-action="Download" asp-route-id="@Model.Id">Download ticket</a>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <label asp-localized-key="ExpenseUploadTicket" class="col-sm-3 col-form-label"></label>
            <div class="col-6">
                <div class="alert alert-info text-center" role="alert">
                    No ticket file!
                </div>
            </div>
        </div>
    }
}

<div class="form-group row">
    <div class="col-12 text-right">
        <hr />
        <button type="reset" class="btn btn-outline-danger" onclick="location.href ='@Url.Action("Index", "ExpenseTicket")'">
            <span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
        @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit || Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Create)
        {
            <input type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
        }

    </div>
</div>