@using Group.Salto.Common.Constants.ExpenseTicket
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.Expense

@model ExpenseDetailsViewModel

<div class="row">
    <input type="hidden" value="0" id="expense-ticket-id" />
    <div class="col-12">
        <div class="form-group">
            <partial name="_ExpenseFields" model="Model" />
        </div>
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@ExpenseTicketConstants.ExpenseTicketPaymentInformation" class="col-4 col-form-label"></label>
    <div class="col">
        <textarea class="form-control" asp-for="PaymentInformation" placeholder="@ExpenseTicketConstants.ExpenseTicketPaymentInformation"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <hr />
        <button id="ExpenseTicketConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
        @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
        {
            <input type="submit" class="btn btn-outline-primary" asp-for="NextStatus" value="@ExpenseTicketConstants.ExpenseTicketFinished">
        }
        <input type="submit" class="btn btn-success" asp-for="NextStatus" value="@ExpenseTicketConstants.ExpenseTicketPaid">
    </div>
</div>

