@using Group.Salto.SOM.Web.Models.Expense;
@using Group.Salto.SOM.Web.Models.Result;
@using Group.Salto.SOM.Web.Extensions;
@using Group.Salto.Common.Constants;
@using Group.Salto.Common.Constants.Expense;
@using Group.Salto.Common.Constants.ExpenseTicket;

@model ResultViewModel<ExpenseDetailsViewModel>

@{
    ViewData["Title"] = @Html.GetLocalizedText(ExpenseConstants.ExpenseDetailsTitle);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-9 col-lg-6">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2 asp-localized-key="ExpenseDetailsTitle"></h2>
            </div>
            <div class="card-body">
                <form asp-controller="ExpenseTicket" asp-action="Edit" method="post" class="form-horizontal">
                    <partial name="_ExpenseTicketForm" model="Model?.Data" />
                    <input type="hidden" asp-for="Data.ExpenseStatus" />
                </form>

                <div class="jumbotron">
                    <h2 class="display-4" asp-localized-key="ExpenseTicketValidation"></h2>
                    <hr class="my-4">
                    @if (Model.Data.ValidateExpenseTicketPending())
                    {
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketNoValidation"></span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketActualStatus" class="mr-2"> </span><span class="font-weight-bold text-warning" asp-localized-key="@ExpenseTicketConstants.ExpenseTicketPendingText"></span></p>
                    }
                    else if (Model.Data.ValidateExpenseTicketAccepted())
                    {
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketText" class="mr-2"> </span><span class="font-weight-bold">@Model.Data.PeopleValidator</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketValidationDate" class="mr-2"> </span><span> @Model.Data.ValidationDate</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketActualStatus" class="mr-2"> </span><span class="font-weight-bold text-success" asp-localized-key="@ExpenseTicketConstants.ExpenseTicketAcceptedText"></span></p>
                    }
                    else if (Model.Data.ValidateExpenseTicketPaid())
                    {
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketText" class="mr-2"> </span><span class="font-weight-bold">@Model.Data.PeopleValidator</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketValidationDate" class="mr-2"> </span><span>@Model.Data.ValidationDate</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketActualStatus" class="mr-2"> </span><span class="font-weight-bold text-info" asp-localized-key="@ExpenseTicketConstants.ExpenseTicketPaidText"></span></p>
                    }
                    else if (Model.Data.ValidateExpenseTicketEscaled())
                    {
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketText"> </span><span class="font-weight-bold">@Model.Data.PeopleValidator</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketValidationDate" class="mr-2"> </span><span> @Model.Data.ValidationDate</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketActualStatus" class="mr-2"> </span><span class="font-weight-bold" asp-localized-key="@ExpenseTicketConstants.ExpenseTicketPaidText"></span></p>
                    }
                    else if (Model.Data.ValidateExpenseTicketFinished())
                    {
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketText" class="mr-2"> </span><span class="font-weight-bold">@Model.Data.PeopleValidator</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketValidationDate" class="mr-2"> </span><span asp-localized-key="@Model.Data.ValidationDate"></span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketActualStatus" class="mr-2"> </span><span class="font-weight-bold text-primary" asp-localized-key="@ExpenseTicketConstants.ExpenseTicketFinishedText"></span></p>
                    }
                    else if (Model.Data.ValidateExpenseTicketRejected())
                    {
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketText" class="mr-2"> </span><span class="font-weight-bold">@Model.Data.PeopleValidator</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketValidationDate"> </span><span>@Model.Data.ValidationDate</span></p>
                        <p class="lead"><span asp-localized-key="@ExpenseTicketConstants.ExpenseTicketActualStatus" class="mr-2"> </span><span class="font-weight-bold text-danger" asp-localized-key="@ExpenseTicketConstants.ExpenseTicketRejectedText"></span></p>
                    }

                    <hr class="my-4">
                    <div class="col-12 text-center">
                        @if (Model.Data.ValidateExpenseTicketPending())
                        {
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#RejectedModal">@Html.GetLocalizedText(ExpenseTicketConstants.ExpenseTicketReject)</button>
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#AcceptedModal">@Html.GetLocalizedText(ExpenseTicketConstants.ExpenseTicketAccept)</button>
                        }
                        @if (Model.Data.ValidateExpenseTicketAccepted())
                        {
                            <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#FinishedModal">@Html.GetLocalizedText(ExpenseTicketConstants.ExpenseTicketFinish)</button>
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#PaidModal">@Html.GetLocalizedText(ExpenseTicketConstants.ExpenseTicketPay)</button>
                        }
                        @if (Model.Data.ValidateExpenseTicketEscaled())
                        {
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#RejectedModal">@Html.GetLocalizedText(ExpenseTicketConstants.ExpenseTicketReject)</button>
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#AcceptedModal">@Html.GetLocalizedText(ExpenseTicketConstants.ExpenseTicketAccept)</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="AcceptedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="ExpenseTicketForm" name="ExpenseTicketForm" asp-controller="ExpenseTicket" asp-action="ValidateExpense">

                        <partial name="_AcceptedModal" model="Model?.Data" />

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RejectedModal" tabindex="-1" role="dialog" aria-labelledby="rejectedTitle" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="ExpenseTicketForm" name="ExpenseTicketForm" asp-controller="ExpenseTicket" asp-action="ValidateExpense">
                        <partial name="_RejectedModal" model="Model?.Data" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EscaledModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="ExpenseTicketForm" name="ExpenseTicketForm" asp-controller="ExpenseTicket" asp-action="ValidateExpense">
                        <partial name="_EscaledModal" model="Model?.Data" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PaidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="ExpenseTicketForm" name="ExpenseTicketForm" asp-controller="ExpenseTicket" asp-action="ValidateExpense">
                        <partial name="_PaidModal" model="Model?.Data" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FinishedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="ExpenseTicketForm" name="ExpenseTicketForm" asp-controller="ExpenseTicket" asp-action="ValidateExpense">
                        <partial name="_FinishedModal" model="Model?.Data" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/lib/dhtmlx/suite/sources/dhtmlxCalendar/codebase/dhtmlxcalendar.js"></script>
    <script src="~/js/Expense/ExpenseCalendar.js"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                app.expensecalendar.Init();
                 if ($('select[name="ExpenseTypeId"]').val() == 2) {
                    $('[id="ImportInput"] label').text("@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadKilometer)");
                    $('[id="ImportInput"] input').attr("placeholder", "@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadKilometer)");

                } else {
                    $('[id="ImportInput"] label').text("@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadAmount)");
                    $('[id="ImportInput"] input').attr("placeholder", "@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadAmount)");
                }
            });
            $('select[name="ExpenseTypeId"]').change(function() {
                if ($('select[name="ExpenseTypeId"]').val() == 2) {
                    $('[id="ImportInput"] label').text("@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadKilometer)");
                    $('[id="ImportInput"] input').attr("placeholder", "@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadKilometer)");
                } else {
                    $('[id="ImportInput"] label').text("@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadAmount)");
                    $('[id="ImportInput"] input').attr("placeholder", "@Html.GetLocalizedText(ExpenseConstants.ExpenseGridTheadAmount)");
                }
            });
        })(jQuery);
    </script>
}

@section Styles{
    <link href="~/lib/dhtmlx/suite/codebase/dhtmlx.css" rel="stylesheet" />
}