@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Assets
@using Group.Salto.SOM.Web.Extensions
@model FilterHeaderViewModel
@{

    var url = Context.Request.Path.Value.Split('/')[1];
}
<div id="filterHeader">
    @if (url != "WorkOrder" && url != "Actions" && url != "PeopleVisible" && url != "Bill")
    {
        <div id="filter-createBtn">
            <a asp-action="Create" class="btn btn-success mb-3" asp-route-id="@Model.parentId">
                <i class="fa fa-plus"></i> <span asp-localized-key="@LocalizationsConstants.CreateButtonText"></span>
            </a>
        </div>
    }

    @if (url == "Assets")
    {
        <div id="filter-transferBtn">
            <span data-toggle="tooltip" data-placement="top" title="@Html.GetLocalizedText(AssetsConstants.AssetsTransferTooltip)">
                <button id="btnTransfer" class="btn btn-outline-info" disabled role="button" data-toggle="collapse" data-target="#collapseTransfer" aria-expanded="false" aria-controls="collapseTransfer">
                    <span asp-localized-key="@AssetsConstants.AssetsTransferTitle"></span>&nbsp;
                    <i class="fa fa-exclamation-circle text-info" data-toggle="tooltip" data-placement="top" title="@Html.GetLocalizedText(AssetsConstants.AssetsTransferTooltip)"></i>
                </button>
            </span>
        </div>
    }

    <div id="filter-msgFiltered">
        <div class="row">
            <div class="col">
                <div id="containerAppliedFilters" class="alert alert-info alert-dismissible d-none" role="alert">
                    <div id="appliedFilters"></div>
                    <button type="button" id='removeQuickFilters' class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="filter-filterBtn">
        <div class="text-right m-2">
            <a class="btn-sec-sm button-filter" role="button"
               data-toggle="collapse" href="#filterSection"
               aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i>
                <span asp-localized-key="@LocalizationsConstants.Filter"></span>
            </a>
            @if (Model.ShowAddNewButon && !string.IsNullOrEmpty(Model.AddNewButtonLink))
            {
                <a href="@Model.AddNewButtonLink" class="btn btn-green-sm" asp-localized-key="@LocalizationsConstants.New"></a>
            }
        </div>
    </div>
</div>