@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkOrderCategoriesCollection
@using Group.Salto.Common.Constants.WorkOrderCategory
@using Group.Salto.SOM.Web.Extensions

@model Group.Salto.SOM.Web.Models.WorkOrderCategoriesCollection.WorkOrderCategoriesCollectionBaseViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="card border-primary">
            <div class="card-body">
                <div class="form-group">
                    <label>
                        <span asp-localized-key="@LocalizationsConstants.Name"></span><span class="required">*</span>
                    </label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>
                        <span asp-localized-key="@LocalizationsConstants.Info"></span>
                    </label>
                    <textarea class="form-control" asp-for="Info" placeholder="@Html.GetLocalizedText(LocalizationsConstants.Description)"></textarea>
                    <span asp-validation-for="Info" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-8">
        <h4 class="card-title" asp-localized-key="@WorkOrderCategoryConstants.WOCategoryPageTitle"></h4>
        <div id="containerWorkOrderCategories">
            <ul class="list-group">
                @if (Model != null && Model.CategoriesSelected?.Count > 0)
                {
                    foreach (var item in Model.CategoriesSelected)
                    {
                        <li class="list-group-item list-group-item-action">@item.Name</li>
                    }
                }
                else
                {
                    <li class="list-group-item"><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryNoneCategories"></span></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText" type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "WorkOrderCategoriesCollection")'"></button>
        <input id="btnSaveWorkOrderCateoryCollection" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>