@using Group.Salto.Common.Constants.WorkOrderCategoriesCollection
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.WorkOrderCategoriesCollection
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.Controls.Table
@model ResultViewModel<WorkOrderCategoriesCollectionListViewModel>

@{
    var title = Html.GetLocalizedText(WorkOrderCategoriesCollectionConstants.WorkOrderCategoriesCollectionIndexPageTitle);
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">@title</h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.WorkOrderCategoriesCollectionList, au => au.Id, Model.Data.Filters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Info);
    table.SetSortingColumns(m => m.Name, m => m.Info);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_WorkOrderCategoriesCollectionFilter" model="@Model.Data.Filters" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (Model.Data.WorkOrderCategoriesCollectionList.Any())
            {
                <div class="table-responsive workstation-table">
                    @table.Render("WorkOrderCategoriesCollectionGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.Filters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Text="@Html.GetLocalizedText(WorkOrderCategoriesCollectionConstants.WorkOrderCategoriesCollectionDeleteMessage)"
       Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>

<popup Text="@Html.GetLocalizedText(WorkOrderCategoriesCollectionConstants.WorkOrderCategoriesCollectionCannotDeleteCollectionCodeMessage)"
       Id="confirmationModalCannotDelete"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>

@section scripts {
    <script src="~/js/Common/config.js"></script>
    <script src="~/js/Common/constants.js"></script>
    <script src="~/js/WorkOrderCategoriesCollection/workOrderCategoriesCollection.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                var urlDelete = "@Url.Action("Delete", "WorkOrderCategoriesCollection")";
                app.workOrderCategoriesCollection.Init(urlDelete);
                MultiTableScript("WorkOrderCategoriesCollectionGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.Filters));
                pager.PagerSelector.Init({ PageData: page });
            });
        })(jQuery);
    </script>
}