@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.People
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.People
@using Group.Salto.Common.Enums;
@model PeopleFilterViewModel

<partial model="@Model.FilterHeader" name="_FilterHeader" />
<div class="collapse in" id="filterPeople">
    <form asp-action="Filter" asp-controller="People" method="post" id="filter-form" class="form-control">
        <partial model="Model" name="_PagerHiddens" />
        <partial model="Model" name="_MultiTableHiddens" />
        <partial model="Model" name="_ExcelHiddens" />
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-4 col-form-label">
                    <span asp-localized-key="@PeopleConstants.PeopleFilterName"></span>
                </label>
                <input asp-for="Name" id="PeopleFilterName"
                       class="form-control input-theme-sm"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeopleFilterName)" />
            </div>
            <div class="col-12 col-sm-4">
                <label class="col-form-label">
                    <span asp-localized-key="@PeopleConstants.PeopleFilterIsActive"></span>
                </label>
                <select asp-for="Active" id="PeopleFilterIsActive" class="form-control">
                    <option value="@ActiveEnum.Active">@LocalizationsConstants.Active</option>
                    <option value="@ActiveEnum.Disabled">@LocalizationsConstants.Disabled</option>
                    <option value="@ActiveEnum.Both">@LocalizationsConstants.Both</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-danger" id="btnClear" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                <button id="btnApplyFilter" name="btnApplyFilter" class="btn btn-primary" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
            </div>
        </div>
    </form>
</div>