@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.People
@using Group.Salto.Common.Constants.Calendar
@using Group.Salto.SOM.Web.Extensions
<div class="modal fade" id="CalendarDeletePeopleModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>@Html.GetLocalizedText(PeopleConstants.PeopleCalendarConfirmToDelete)</p>
            </div>
            <div class="modal-footer">
                <button id="CalendarDeletePeopleModalCancel" class="btn btn-outline-danger " type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="CalendarDeletePeopleModalSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddCalendarPeopleModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span asp-localized-key="@CalendarsConstants.CalendarCreatePageTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label asp-localized-key="@CalendarsConstants.CalendarNameText"></label><span class="required">*</span>
                            <input id="calendarName" name="calendarName" type="text" class="form-control"/>
                            <span class="text-danger field-validation-error" data-valmsg-for="calendarName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label><span asp-localized-key="@CalendarsConstants.CalendarDescriptionText"></span></label>
                            <input id="calendarDescription" name="calendarDescription" type="text" class="form-control" />
                        </div>
                        <div class="form-group ">
                            <label><span asp-localized-key="@CalendarsConstants.CalendarColorTitle"></span></label>
                            <div class="col-sm-8" id="calendarColorPickerContainer">
                                <input id="calendarColorPickerInput" name="calendarColorPickerInput" type="text">
                                <div id="calendarColorPicker"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PeopleCalendarAddConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="PeopleCalendarAddConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>