@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.People
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Common.Enums
@using Group.Salto.SOM.Web.Models.People;

@model PeopleEditViewModel

@{
    string title = @Html.GetLocalizedText(PeopleConstants.PeopleTitle);
    ViewData["Title"] = title;

    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<h1>@title <small class="text-muted">@Model?.PersonalEditViewModel?.GetFullPersonName()</small></h1>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item people-tab">
                <a class="nav-link active" id="nav-personal-tab" data-toggle="tab" href="#nav-personal" role="tab" aria-controls="nav-personal" aria-selected="true">@Html.GetLocalizedText(PeopleConstants.PeoplePersonalTab)</a>
            </li>
            <li class="nav-item people-tab">
                <a class="nav-link people-tab" id="nav-access-tab" data-toggle="tab" href="#nav-access" role="tab" aria-controls="nav-access" aria-selected="false">@Html.GetLocalizedText(PeopleConstants.PeopleAccessTab)</a>
            </li>
            <li class="nav-item people-tab">
                <a class="nav-link" id="nav-work-tab" data-toggle="tab" href="#nav-work" role="tab" aria-controls="nav-work" aria-selected="false">@Html.GetLocalizedText(PeopleConstants.PeopleWorkTab)</a>
            </li>
            @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
            {
                <li class="nav-item people-tab" id="nav-calendar-li">
                    <a onclick="setTimeout(function(){ loadScheduler(); }, 200);" class="nav-link" id="nav-calendar-tab" data-toggle="tab" href="#nav-calendar" role="tab" aria-controls="nav-calendar" aria-selected="false">@Html.GetLocalizedText(PeopleConstants.PeopleCalendarTab)</a>
                </li>
            }
            <li class="nav-item people-tab">
                <a onclick="app.mapGeo.CheckGeoCoder();" class="nav-link" id="nav-geo-tab" data-toggle="tab" href="#nav-geo" role="tab" aria-controls="nav-geo" aria-selected="false">@Html.GetLocalizedText(PeopleConstants.PeopleGeoTab)</a>
            </li>
            @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
            {
                <li class="nav-item people-tab">
                    <a class="nav-link" id="nav-cost-tab" data-toggle="tab" href="#nav-cost" role="tab" aria-controls="nav-cost" aria-selected="false">@Html.GetLocalizedText(PeopleConstants.PeopleCostTab)</a>
                </li>
            }
        </ul>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-tab">
                <partial name="_PersonalForm" for="PersonalEditViewModel" />
            </div>
            <div class="tab-pane fade" id="nav-access" role="tabpanel" aria-labelledby="nav-access-tab">
                <partial name="_AccessForm" for="AccessEditViewModel" />
            </div>
            <div class="tab-pane fade" id="nav-work" role="tabpanel" aria-labelledby="nav-work-tab">
                <partial name="_WorkForm" for="WorkEditViewModel" />
            </div>
            <div class="tab-pane fade" id="nav-geo" role="tabpanel" aria-labelledby="nav-geo-tab">
                <partial name="_GeoLocalitzationForm" for="GeoLocalitzationEditViewModel" />
            </div>
            @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
            {
                if (Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.PersonCost, ActionEnum.View))
                {
                    <div class="tab-pane fade" id="nav-cost" role="tabpanel" aria-labelledby="nav-cost-tab">
                        <partial name="_CostForm" />
                    </div>
                }

                <div class="tab-pane fade" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-success" data-toggle='modal' data-target='#AddCalendarModal'>
                                <span asp-localized-key="@PeopleConstants.PeopleTabCalendarButtonCreateCalendar"></span>
                            </button>
                        </div>
                        <partial name="_Scheduler" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />