@using Group.Salto.Common.Constants.People
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.People

@model PersonalEditViewModel
<input asp-for="UserConfigurationId" type="hidden" />

<div class="row">
    <div class="col-12 col-sm-6">
        <input asp-for="Id" type="hidden"/>
        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalNameForm"></span><span class="required">*</span>
            </label>
            <div class="col-sm-8">
                <input asp-for="Name" class="form-control" placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalNameFormPlaceholder)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalSurnameForm"></span>
            </label>
            <div class="col-sm-8">
                <input asp-for="Surname"
                       class="form-control"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalSurnameFormPlaceholder)" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalSecondSurnameForm"></span>
            </label>
            <div class="col-sm-8">
                <input asp-for="SecondSurname"
                       class="form-control"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalSecondSurnameFormPlaceholder)" />
                <span asp-validation-for="SecondSurname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalDNIForm"></span>
            </label>

            <div class="col-sm-8">
                <input asp-for="DNI"
                       class="form-control"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalDNIFormPlaceholder)" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="col-12 col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalEmailForm"></span>
            </label>
            <div class="col-sm-8">
                <input asp-for="Email" type="email"
                       class="form-control"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalEmailFormPlaceholder)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalLanguageForm"></span>
            </label>
            <div class="col-sm-8 col-md-4">
                <select asp-for="Language" asp-items="@Model.Languages"
                        class="form-control"
                        placeholder="@Html.GetLocalizedText(PeopleConstants.PeopleAccessRolFormPlaceholder)"></select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalPhoneForm"></span>
            </label>
            <div class="col-sm-8 col-md-4">
                <input asp-for="Phone" type="tel"
                       class="form-control"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalPhoneFormPlaceholder)" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeoplePersonalPhoneExForm"></span>
            </label>
            <div class="col-sm-8 col-md-4">
                <input asp-for="PhoneEX"
                       class="form-control"
                       placeholder="@Html.GetLocalizedText(PeopleConstants.PeoplePersonalPhoneExFormPlaceholder)" />
                <span asp-validation-for="PhoneEX" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleAccessVisibleForm"></span>
            </label>
            <div class="col-sm-8 col-md-4">
                <div class="custom-control custom-checkbox">
                    <input asp-for="IsVisible" type="checkbox" class="custom-control-input" id="AccessCheckIsVisible" />
                    <label class="custom-control-label" for="AccessCheckIsVisible"></label>
                </div>
            </div>
        </div>
    </div>
</div>