@using Group.Salto.Common.Constants.People
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.People

@model WorkEditViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkCompanyForm"></span><span class="required">**</span>
            </label>
            <div class="col-sm-8 col-md-4">
                <select asp-for="CompanyId" asp-items="@Model.Companies" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleAccessIsActiveForm"></span>
            </label>
            <div class="col-sm-8 col-md-2">
                <div class="custom-control custom-checkbox">
                    <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="WorkCheckIsActive" />
                    <label class="custom-control-label" for="WorkCheckIsActive"></label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkWorkCenterForm"></span>
            </label>
            <div class="col-sm-8">
                <select asp-for="WorkCenterId" asp-items="@Model.WorkCenters" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="WorkCenterId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkResponsibleForm"></span>
            </label>
            <div class="col-sm-8">
                <select asp-for="ResponsibleId" class="form-control">
                   <option value="0">-</option>
                </select>
                <span asp-validation-for="ResponsibleId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkDeparmentForm"></span>
            </label>
            <div class="col-sm-8">
                <select asp-for="DepartmentId" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkPointRateForm"></span>
            </label>
            <div class="col-sm-8">
                <select asp-for="PointRateId" asp-items="@Model.PointRates" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="PointRateId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkSubcontractForm"></span><span class="required">**</span>
            </label>
            <div class="col-sm-8 col-md-4">
                <select asp-for="SubcontractId" asp-items="@Model.SubContracts" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="SubcontractId" class="text-danger"></span>
            </div>

            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkSubcontractorResponsibleForm"></span>
            </label>
            <div class="col-sm-8 col-md-2">
                <div class="custom-control custom-checkbox">
                    <input asp-for="SubcontractorResponsible" type="checkbox" class="custom-control-input" id="WorkCheckSubcontractorResponsible" />
                    <label class="custom-control-label" for="WorkCheckSubcontractorResponsible"></label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkProjectForm"></span>
            </label>
            <div class="col-sm-8">
                <select asp-for="ProjectId" asp-items="@Model.Projects" class="form-control">
                    <option value="0">-</option>
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-md-3 col-form-label">
                <span asp-localized-key="@PeopleConstants.PeopleWorkURLDocumentationForm"></span>
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="navUrlDocInput" asp-for="DocumentationUrl" class="form-control" placeholder="@Html.GetLocalizedText(PeopleConstants.PeopleWorkURLDocumentationForm)" />
                    <span asp-validation-for="DocumentationUrl" class="text-danger"></span>
                    <div class="input-group-append">
                        <a id="navUrlDocBtn" class="btn btn-info text-white"><i class="fa fa-arrow-right fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CostKm">
                        <span asp-localized-key="@PeopleConstants.PeopleWorkCostKmForm"></span>
                    </label>
                    <div class="col-sm-6 p-0">
                        <input type="number" step="0.01" rows="9" asp-for="CostKm" class="form-control" placeholder="@Html.GetLocalizedText(PeopleConstants.PeopleWorkCostKmForm)" />
                        <span asp-validation-for="CostKm" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label>
                    <span asp-localized-key="@PeopleConstants.PeopleWorkPriorityForm"></span>
                </label>
                <div class="col-sm-6 p-0">
                    <select asp-for="PriorityId" asp-items="@Model.Priorities" class="form-control"></select>
                    <span asp-validation-for="PriorityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label>
                    <span asp-localized-key="@PeopleConstants.PeopleWorkAnualHoursForm"></span>
                </label>
                <div class="col-sm-6 p-0">
                    <input asp-for="AnnualHours" class="form-control" placeholder="@Html.GetLocalizedText(PeopleConstants.PeopleWorkAnualHoursForm)" />
                    <span asp-validation-for="AnnualHours" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-md-12">
                <h4 class="card-title" asp-localized-key="@PeopleConstants.PeopleFilterKnowledge"></h4>
                <div id="container">
                    <div id="knowledgesContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>