@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.People
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Models.People
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Controls.Table

@model ResultViewModel<PeoplesViewModel>

@{
    var title = @Html.GetLocalizedText(PeopleConstants.PeoplePageTitle);
    ViewData["Title"] = title;
}

<h1 class="page-title">@title</h1>

@{
    var table = Html.GetMultiSelectTableFor(Model.Data.Peoples, au => au.Id, Model.Data.PeopleFilters, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.FisrtSurname, m => m.SecondSurname, m => m.Dni, m => m.Email, m => m.Telephone, m => m.IsClientWorker, m => m.IsActive, m => m.UserName);
    table.SetSortingColumns(m => m.Name, m => m.Name, m => m.FisrtSurname, m => m.SecondSurname, m => m.Dni, m => m.Email, m => m.Telephone, m => m.IsClientWorker, m => m.IsActive, m => m.UserName);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,

    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton" data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_PeopleFilter" model="@Model.Data.PeopleFilters" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.Peoples.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("PeopleGrid")
                </div>
                <partial name="_Pager" for="@Model.Data.PeopleFilters" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>

<popup Text="@Html.GetLocalizedText(PeopleConstants.PeopleDeleteMessage)" Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>
@section sideBarMenu {
    <partial name="_PeopleIndexSideBarMenu" />
}

@section scripts {
    <script src="~/js/People/People.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                var options = {
                    urlExcel:'@Url.Action("Excel", "People")',
                };
                app.people.Init(options);
                MultiTableScript("PeopleGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.PeopleFilters));
                pager.PagerSelector.Init({ PageData: page });

                $(".deleteButton").on("click", function (evt) {
                        evt.preventDefault();
                        var id = $(this).attr('id');
                        deleteElement(id, "#confirmationModal", "#confirmationModalConfirmSave");
                });

                function deleteElement(id, modalId, saveButtonId)
                {
                    $(modalId).modal("toggle");
                    $(saveButtonId).on("click",
                        function () {
                            $.ajax({
                                url: '@Url.Action("Delete", "People")',
                                type: 'POST',
                                dataType: 'json',
                                cache: false,
                                data: { Id: id },
                                success: function () {
                                    $("#btnApplyFilter").trigger("click");
                                }
                            });
                            $(modalId).modal("toggle");
                        });
                }

                $("#confirmationModalConfirmCancel").on("click", function ()
                {
                    $("#confirmationModal").modal("toggle");
                    $("#confirmationModalConfirmSave").off("click");
                });
            });
        })(jQuery);
    </script>
}