@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.ExternalWorkOrderStatus
@using Group.Salto.Controls.Table
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.ExternalWorkOrderStatus
@using Group.Salto.SOM.Web.Models.Result
@model ResultViewModel<ExternalWorkOrderStatusesListViewModel>
@{
    ViewData["Title"] = @Html.GetLocalizedText("ExternalWorkOrderStatusIndexTitle");
    var title = @Html.GetLocalizedText("ExternalWorkOrderStatusIndexTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page-title">@title</h1>
@{
    var table = Html.GetMultiSelectTableFor(Model.Data.ExternalWorkOrderStatusList, au => au.Id, Model.Data.ExternalWorkOrderStatusFilter, TranslationHelper.GetTranslationService());
    table.SetColumns(m => m.Name, m => m.Description);
    table.SetSortingColumns(m => m.Name, m => m.Name, m => m.Description);
    table.ShowSelectColumn = false;
    table.TableCssClass = "table table-striped table-hover";
    table.TableHeaderCssClass = "thead-som";

    table.AddColumnTemplateFor(m => m.Id,
    @<div class="col-update text-right">
        <a asp-action="Edit" asp-route-id="@item.RawValue" id="@item.RawValue">
            <i class="fa fa-pencil fa-lg"></i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.RawValue" id="@item.RawValue" class="deleteButton"
           data-toggle="tooltip" data-placement="top">
            <i class="fa fa-trash-o fa-lg"></i>
        </a>
    </div>, "");
}

<div class="content">
    <div class="row">
        <div class="col-12">
            <partial name="_ExternalWorkOrderStatusFilter" model="@Model.Data.ExternalWorkOrderStatusFilter" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Model.Data.ExternalWorkOrderStatusList.Any())
            {
                <div class="table-responsive workstation-table" id="multigridContainerId">
                    @table.Render("ExternalOrderStatusGrid")
                </div>

                <partial name="_Pager" for="@Model.Data.ExternalWorkOrderStatusFilter" />
            }
            else
            {
                <partial name="_NoRecords" />
            }
        </div>
    </div>
</div>
<popup Text="@Html.GetLocalizedText(ExternalWorkOrderStatusConstants.ExternalWorkOrderStatusDeleteMessage)" Id="confirmationModal"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"
       cancel-button-text="@Html.GetLocalizedText(LocalizationsConstants.Close)"></popup>
<popup Text="@Html.GetLocalizedText(ExternalWorkOrderStatusConstants.ExternalWorkOrderStatusDeleteWithWorkOrderMessage)"
       Id="confirmationModalWithWorkOrders"
       show-cancel-button="false"
       submit-button-text="@Html.GetLocalizedText(LocalizationsConstants.Confirm)"></popup>
@section scripts {
    <script src="~/js/ExternalWorkOrderStatus/externalWorkOrderStatus.js"></script>
    <script src="~/js/Common/config.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                app.externalWorkOrderStatus.main.Init();
                MultiTableScript("ExternalOrderStatusGrid");
                var page = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Data.ExternalWorkOrderStatusFilter));
                pager.PagerSelector.Init({ PageData: page });
                $(".deleteButton").on("click",
                    function (evt) {
                        evt.preventDefault();
                        showSpinner();
                        var id = $(this).attr('id');

                        $.ajax({
                            url: app.config.Urls.externalWorkOrderStatusCanDelete,
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: { id: id },
                            success: function (data) {
                                hideSpinner();
                                if (!data) {
                                        $("#confirmationModalWithWorkOrders").modal("toggle");
                                        $("#confirmationModalWithWorkOrdersConfirmSave").on("click", function () {
                                            $("#confirmationModalWithWorkOrders").modal("toggle");
                                            $("#confirmationModalWithWorkOrdersConfirmSave").off("click");
                                    });
                                } else {
                                    deleteElement(id, "#confirmationModal", "#confirmationModalConfirmSave");
                                }
                            },
                        });
                    });

                function deleteElement(id, modalId, saveButtonId)
                {
                    $(modalId).modal("toggle");
                    $(saveButtonId).on("click",
                        function () {
                            $.ajax({
                                url: '@Url.Action("Delete", "ExternalWorkOrderStatus")',
                                type: 'DELETE',
                                dataType: 'json',
                                cache: false,
                                data: { id: id },
                                success: function () {
                                    $("#btnApplyFilter").trigger("click");
                                },
                            });
                            $(modalId).modal("toggle");
                        });
                }

                $("#confirmationModalConfirmCancel").on("click", function ()
                {
                    $("#confirmationModal").modal("toggle");
                    $("#confirmationModalConfirmSave").off("click");
                });
            });

        })(jQuery);
    </script>
}
