@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Symptom
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Symptom;
@model SymptomFilterViewModel

<partial model="@Model.FilterHeader" name="_FilterHeader" />
<div class="collapse in" id="filterSymptom">
    <form asp-action="Filter" asp-controller="Symptom" method="post" id="filter-form" class="form-control">
        <partial model="Model" name="_PagerHiddens" />
        <partial model="Model" name="_MultiTableHiddens" />
        <div class="row">
            <div class="col-12 col-sm-4">
                <label class="col-form-label">
                    <span asp-localized-key="@SymptomConstants.SymptomFilterName"></span>
                </label>
                <input asp-for="Name" id="SymptomFilterName"
                       class="form-control input-theme-sm"
                       placeholder="@Html.GetLocalizedText(SymptomConstants.SymptomFilterPlaceHolderName)" />
            </div>
            <div class="col-12 col-sm-4">
                <label class="col-form-label">
                    <span asp-localized-key="@SymptomConstants.SymptomFilterDescription"></span>
                </label>
                <input asp-for="Description" id="SymptomFilterDescription"
                       class="form-control input-theme-sm"
                       placeholder="@Html.GetLocalizedText(SymptomConstants.SymptomFilterPlaceHolderDescription)" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-danger" id="btnClear" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                <button id="btnApplyFilter" class="btn btn-primary" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
            </div>
        </div>
    </form>
</div>