@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants.Flows
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.MultiSelect;

<div class="modal fade" id="modalPostcondition" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <form asp-controller="Triggers" asp-action="PostTrigger" method="post" class="form-horizontal">
            <input id="taskId" value="0" type="hidden" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span asp-localized-key="@FlowsConstants.FlowsPostconditionModalTitle"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select id="postcondition-combo-types" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <select id="postcondition-combo-values" class="form-control"></select>
                    </div>

                    <div id="typeotn-container" class="d-none">
                        <div class="form-group">
                            <h5 class="modal-title">TYPE OTN 2</h5>
                            <select id="typeotn2-combo-values" class="form-control"></select>
                        </div>
                        <div id="typeotn3-container" class="form-group">
                            <h5 class="modal-title">TYPE OTN 3</h5>
                            <select id="typeotn3-combo-values" class="form-control"></select>
                        </div>
                        <div id="typeotn4-container" class="form-group">
                            <h5 class="modal-title">TYPE OTN 4</h5>
                            <select id="typeotn4-combo-values" class="form-control"></select>
                        </div>
                        <div id="typeotn5-container" class="form-group">
                            <h5 class="modal-title">TYPE OTN 5</h5>
                            <select id="typeotn5-combo-values" class="form-control"></select>
                        </div>
                    </div>

                    <div id="boolean-literalValue-postcondition" class="col d-none">
                        <label class="switch switch-som switch-label switch-pill switch-primary">
                            <input id="switch-value-postconditions" type="checkbox" class="switch-input">
                            <span for="switch-value-postconditions" class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.IsActive)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.Disabled)"></span>
                        </label>
                    </div>
                    <div id="manipulator-postcondition" class="form-group">
                        <select id="select-manipulator" class="custom-select">
                            <option value="null">@FlowsConstants.FlowsUnAssign</option>
                            <option value="1">@FlowsConstants.FlowsEqualTechnician</option>
                        </select>
                    </div>
                    <div id="data-literalValue-postcondition" class="col d-none">
                        <div class="form-row">
                            <div class="col-3 text-right">
                                <span asp-localized-key="@FlowsConstants.FlowsSystemDate"></span>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input id="data-value-postcondition" type="number" class="form-control" placeholder="number" aria-label="number" aria-describedby="basic-addon">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon"><span asp-localized-key="@FlowsConstants.FlowsMinutes"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="text-postcondition" class="d-none">
                        <input id="text-value-postcondition" type="text" class="form-control" placeholder="@LocalizationsConstants.Observations" aria-label="number" aria-describedby="basic-addon">
                    </div>
                    <div id="woreopening-postcondition" class="d-none">
                        <select id="select-woreopening" class="custom-select">
                            <option value="2">@FlowsConstants.FlowsDeny</option>
                            <option value="1">@FlowsConstants.FlowsModify</option>
                            <option value="0">@FlowsConstants.FlowsDuplicate</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.Close)</button>
                        <button type="button" class="btn btn-primary" onclick="app.postconditionModal.PostPostconditionModal()" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.Confirm)</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>