@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Families
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Families

@model FamiliesDetailsViewModel


<input type="hidden" class="form-control" asp-for="Id" />

<div class="form-group row">
    <label class="col-12 col-sm-3 col-form-label" asp-for="Name"><span asp-localized-key="@FamiliesConstants.FamiliesGridTheadName"></span><span class="required">*</span></label>
    <div class="col-12 col-sm-5">
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-localized-key="@FamiliesConstants.FamiliesGridTheadDescription" class="col-12 col-sm-3 col-form-label" asp-for="Description"></label>
    <div class="col-12 col-sm-5">
        <input asp-for="Description" rows="9" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="card-title" asp-localized-key="@FamiliesConstants.FamiliesSubFamiliesTitle"></h4>
        <div id="container">
            <div id="SubFamiliesContainer"></div>
        </div>
    </div>

</div>
<div class="form-group row text-right">
    <div class="col-12">
        <hr />
        <button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "Families")'">
            <span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
        <input id="btnSaveFamilies" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>