@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkOrderStatus
@using Group.Salto.SOM.Web.Extensions
@model Group.Salto.SOM.Web.Models.WorkOrderStatus.WorkOrderStatusViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card border-info">
            <div class="card-body">
                @*TODO change all*@

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@LocalizationsConstants.Name"></span>&nbsp;<span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="Name"
                               placeholder="@Html.GetLocalizedText(LocalizationsConstants.Name)" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        <span asp-localized-key="@LocalizationsConstants.Description"></span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="Description"
                               placeholder="@Html.GetLocalizedText(LocalizationsConstants.Description)" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="row">
            <label class="col-sm-4 col-form-label">
                <span asp-localized-key="@LocalizationsConstants.Color"></span><span class="required">*</span>
            </label>
            <div class="col-sm-8" id="colorPickerContainer">
                <input type="text" id="colorPickerInput" asp-for="Color"
                       style="background-color: @Model?.Color;" readonly>
                <div id="colorPicker"></div>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-8 col-sm-4 col-form-label">
                <span asp-localized-key="@WorkOrderStatusConstants.IsWorkOrderClosedTitle"></span>
            </label>
            <div class="col-4 col-sm-8">
                <div class="custom-control custom-checkbox">
                    <input asp-for="IsWorkOrderClosed" type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label" for="IsWorkOrderClosed"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-8 col-sm-4 col-form-label">
                <span asp-localized-key="@WorkOrderStatusConstants.IsWorkOrderPlannableTitle"></span>
            </label>
            <div class="col-4 col-sm-8">
                <div class="custom-control custom-checkbox">
                    <input asp-for="IsPlannable" type="checkbox" class="custom-control-input" />
                    <label class="custom-control-label" for="IsPlannable"></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <h4 class="card-title" asp-localized-key="@LocalizationsConstants.Name"></h4>
            <div id="containerText">
                <div id="nameTranslationsContainer"></div>
                <span asp-validation-for="TextTranslations" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="form-group">
            <h4 class="card-title" asp-localized-key="@LocalizationsConstants.Description"></h4>
            <div id="containerDescription">
                <div id="descriptionTranslationsContainer"></div>
                <span asp-validation-for="DescriptionTranslations" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText"
                type="button" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "WorkOrderStatus")'"></button>
        <input id="btnSaveWorkorderStatus" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>
