@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkOrderCategory
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.WorkOrderCategory
@model GenericEditViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <input asp-for="Id" type="hidden" />
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericNameText"></span><span class="required">*</span></label>
            <input asp-for="Name" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryGenericNameText)" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label data-toggle="tooltip" data-placement="top" title="Service Level Agreement"><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericSLAText"></span><span class="required">*</span></label>
            <select asp-for="IdSLA" asp-items="@Model.SLAListItems" class="form-control">
                <option value="0">-</option>
            </select>
            <span asp-validation-for="IdSLA" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryCollectionTitle"></span><span class="required">*</span></label>
            <select asp-for="WorkOrderCategoriesCollectionId" asp-items="@Model.WOCollectionListItems" class="form-control">
                <option value="0">-</option>
            </select>
            <span asp-validation-for="WorkOrderCategoriesCollectionId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericDurationText"></span>&nbsp;<span class="required">*</span></label>
            <div class="input-group">
                <input asp-for="Duration" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryGenericDurationText)" />
                <div class="input-group-append">
                    <span class="input-group-text">min</span>
                </div>
            </div>
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericEconomicChargeText"></span>&nbsp;<span class="required">*</span></label>
            <div class="input-group">
                <input asp-for="EconomicCharge" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryGenericEconomicChargeText)" />
                <div class="input-group-append">
                    <span class="input-group-text">€/min</span>
                </div>
            </div>
            <span asp-validation-for="EconomicCharge" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericSerieText"></span></label>
            <input asp-for="Serie" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryGenericSerieText)" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>

    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericURLText"></span></label>

            <div class="input-group">
                <input id="navUrlDocInput" asp-for="Url" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryGenericURLText)" />
                <span asp-validation-for="Url" class="text-danger"></span>
                <div class="input-group-append">
                    <a id="navUrlDocBtn" class="btn btn-info text-white"><i class="fa fa-arrow-right fa-lg"></i></a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="mr-2"><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryGenericIsGhost"></span></label>
            <label class="switch switch-label switch-pill switch-primary">
                <input asp-for="IsGhost" type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="@Html.GetLocalizedText(LocalizationsConstants.Yes)" data-unchecked="@Html.GetLocalizedText(LocalizationsConstants.No)"></span>
            </label>
        </div>
    </div>
</div>