@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkCenter
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.WorkCenter
@model WorkCenterDetailViewModel

<div class="form-group row">
    <label class="col-md-3 col-form-label" asp-for="WorkCenter.Name"><span asp-localized-key="@WorkCenterConstants.WorkCenterFormTextName"></span><span class="required">*</span></label>
    @Html.HiddenFor(m => m.WorkCenter.Id, new { Id = "id" })
    @Html.HiddenFor(m => m.WorkCenterFromCompanyId)

    <div class="col-md-9">
        <input type="text" class="form-control" asp-for="WorkCenter.Name" placeholder="@Html.GetLocalizedText(@WorkCenterConstants.WorkCenterFormPlaceholderName)">
        <span asp-validation-for="WorkCenter.Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label">
        <span asp-localized-key="@WorkCenterConstants.WorkCenterFormTextCompany"></span><span class="required">*</span>
    </label>
    <div class="col-md-9">
        <select asp-for="CompanySelected" asp-items="@Model.Companies" class="form-control input-theme-sm"></select>
        <span asp-validation-for="CompanySelected" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label">
        <span asp-localized-key="@WorkCenterConstants.WorkCenterFormTextResponsable"></span>
        @*TODO review requirements*@
        @*<span class="required">*</span>*@
    </label>
    <div class="col-md-9">
        <select asp-for="ResponsableSelected" asp-items="@Model.People" class="form-control input-theme-sm"></select>
        <span asp-validation-for="ResponsableSelected" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <div id="container" class="col-12 p-0">
        <div id="countrySelector"></div>
    </div>
</div>
<div class="form-group">
    <label asp-for="WorkCenter.Address"><span asp-localized-key="@WorkCenterConstants.WorkCenterFormTextAddress"></span><span class="required">*</span></label>
    <div>
        <input type="text" class="form-control" asp-for="WorkCenter.Address" 
               placeholder="@Html.GetLocalizedText(@WorkCenterConstants.WorkCenterFormPlaceholderAddress)">
        <span asp-validation-for="WorkCenter.Address" class="text-danger"></span>
    </div>
</div>

<div class="form-group row text-right">
    <div class="col-12">
        <hr />
        <button asp-localized-key="@LocalizationsConstants.CancelText" id="CancelCreateWorkCenter"
                type="button" class="btn btn-outline-danger"></button>
        <input id="btnSaveWorkCenter" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>