@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.WorkCenter
@using Group.Salto.SOM.Web.Extensions
@model WorkCenterFilterViewModel

<partial model="@Model.FilterHeader" name="_FilterHeader" />
<div class="collapse in" id="filterWorkCenter">
    <form asp-action="Filter" asp-controller="WorkCenter" method="post" id="filter-form" class="form-control">
        <partial model="Model" name="_PagerHiddens" />
        <partial model="Model" name="_MultiTableHiddens" />
        <div class="row">
            <div class="col-12 col-sm-4">
                <label class="col-form-label">
                    <span asp-localized-key="@WorkCenterConstants.WorkCenterFilterNameTitle"></span>
                </label>
                <input asp-for="Name" id="WorkCenterFilterName"
                       class="form-control input-theme-sm"
                       placeholder="@Html.GetLocalizedText(WorkCenterConstants.WorkCenterFilterNamePlaceholder)" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <br>
                    <button type="button" class="btn btn-outline-danger" id="btnClear" asp-localized-key="@LocalizationsConstants.ClearFilter" />
                    <button name="btnApplyFilter" id="btnApplyFilter" class="btn btn-primary" asp-localized-key="@LocalizationsConstants.ApplyFilter" />
                </div>
            </div>
        </div>
    </form>
</div>