@using Group.Salto.Common.Constants.Model
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.Brands

@model ModelViewModel
<div class="modal fade" id="ModelModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="BrandsForm" name="BrandsForm" asp-controller="Brands" asp-action="Models">
                    <input id="IsValid" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="ModelId" class="form-control" readonly="readonly" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label><span asp-localized-key="@ModelConstants.ModelGridTheadName"></span><span class="required">*</span></label>
                                <input asp-for="ModelName" class="form-control" placeholder="@Html.GetLocalizedText(ModelConstants.ModelGridTheadName)" />
                                <span asp-validation-for="ModelName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label><span asp-localized-key="@ModelConstants.ModelGridTheadDescription"></span></label>
                                <input asp-for="ModelDescription" class="form-control" placeholder="@Html.GetLocalizedText(ModelConstants.ModelGridTheadDescription)" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label><span asp-localized-key="@ModelConstants.ModelGridTheadUrl"></span></label>
                                <input type="url" asp-for="ModelUrl" class="form-control" placeholder="@Html.GetLocalizedText(ModelConstants.ModelModalUrlPlaceholder)" />
                                <small id="protocolUrlTextHelp" class="form-text text-muted p-1 bg-light">
                                    @Html.GetLocalizedText(ModelConstants.ModelModalUrlTextHelp)
                                </small>
                                <span asp-validation-for="ModelUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="ModelConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="ModelConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>